@use "sass:list";
@use "sass:map";
@use "../settings/mq" as settings-mq;
@use "../settings/spacing";
@use "../settings/typography";
@use "../tools/font_size";
@use "../tools/mq" as tools-mq;

/* ============================
// $FONT STYLES
// Define our Font Elements/Classes.
// We are able to utilise semantic H1-H6 but also override the presentation using the class convention
*/

/* ============================
//  Usage:
//
// @param {*} elements - expects an element tag. recommended h1 - h6
// @param {*} classes - expects desired class name
// @param {*} font-size - expects a base font-size with option to add different sizes at different media queries

// Usage:
// <h1 class="t-font-beta"></h1>
*/

$font-sizes: (
    (
        elements: (
            h1
        ),
        classes: (
            "alpha"
        ),
        font-size: (
            base: typography.$size-beta,
            settings-mq.$mq-tab--sml: typography.$size-alpha
        )
    ),
    (
        elements: (
            h2
        ),
        classes: (
            "beta"
        ),
        font-size: (
            base: typography.$size-gamma,
            settings-mq.$mq-tab--sml: typography.$size-beta
        )
    ),
    (
        elements: (
            h3
        ),
        classes: (
            "gamma"
        ),
        font-size: (
            base: typography.$size-delta,
            settings-mq.$mq-tab--sml: typography.$size-gamma
        )
    ),
    (
        elements: (
            h4
        ),
        classes: (
            "delta"
        ),
        font-size: (
            base: typography.$size-delta
        )
    ),
    (
        elements: (
            h5
        ),
        classes: (
            "epsilon"
        ),
        font-size: (
            base: typography.$size-epsilon
        )
    ),
    (
        elements: (
            h6
        ),
        classes: (
            "zeta"
        ),
        font-size: (
            base: typography.$size-zeta
        )
    ),
    (
        elements: (),
        classes: (
            "centi"
        ),
        font-size: (
            base: typography.$size-centi
        )
    ),
    (
        elements: (),
        classes: (
            "milli"
        ),
        font-size: (
            base: typography.$size-milli
        )
    ),
    (
        elements: (),
        classes: (
            "kilo"
        ),
        font-size: (
            base: typography.$size-kilo,
            settings-mq.$mq-desk: typography.$size-mega
        ),
        line-height: (
            1
        )
    )
);
$font-families: (
    "primary": typography.$font-primary,
    "secondary": typography.$font-secondary
);

@mixin font-styles($rules, $mq: null, $fs: null) {
    $size: map.get($rules, font-size);
    $font-size: map.get($size, base);

    @if $mq != "base" {
        @include tools-mq.mq($mq, min) {
            @include font_size.font-size($fs);
        }
    } @else {
        @if map.has-key($rules, line-height) {
            @include font_size.font-size($font-size, map.get($rules, line-height));
        } @else {
            @include font_size.font-size($font-size);
        }
    }
}

/* postcss-bem-linter: ignore */
h1,
h2,
h3,
h4,
h5,
h6,
[class*="t-font"] {
    margin: 0 0 spacing.$global-spacing-s;
    font-style: normal;
    font-weight: typography.$weight-bold;
    text-transform: none;
}

// Font Family
.t-font {
    @each $name, $font-family in $font-families {
        &-#{$name} {
            font-family: #{$font-family};

            @if $name == "secondary" {
                text-transform: uppercase;
            }
        }
    }
}

// Font Sizes
@each $rule in $font-sizes {
    $elements: map.get($rule, elements);
    $classes: map.get($rule, classes);
    $sizes: map.get($rule, font-size);

    @each $size in $sizes {
        $mq: list.nth($size, 1);
        $fs: list.nth($size, 2);

        @each $element in $elements {
            #{$element} {
                @include font-styles($rule, $mq, $fs);
            }
        }

        @each $class in $classes {
            .t-font-#{$class} {
                @include font-styles($rule, $mq, $fs);
            }
        }
    }
}
