/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
@use "../../styles/settings" as *;
/* stylelint-disable plugin/selector-bem-pattern */

.c-radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.625em;

    &__item-container {
        display: flex;
        align-items: center;
    }

    &__item {
        --radio-item-size: 1.25em;
        --radio-indicator-diff: 0.7;

        width: var(--radio-item-size);
        height: var(--radio-item-size);
        background-color: var(--color-tertiary);
        border: solid 1px var(--color-quinary);
        border-radius: 100%;
        cursor: pointer;

        &:hover {
            background-color: var(--color-neutral-300);
        }

        &:focus {
            box-shadow: 0 0 0 2px var(--color-primary);
        }
    }

    &__indicator {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        &::after {
            display: block;
            width: calc(var(--radio-item-size) * var(--radio-indicator-diff));
            height: calc(var(--radio-item-size) * var(--radio-indicator-diff));
            background-color: var(--color-quaternary);
            border-radius: 50%;
            content: "";
        }
    }

    &__description {
        font-size: var(--font-scale-centi);
    }

    &--secondary {
        .c-radio-group__item {
            border: solid 1px var(--color-secondary);
        }

        .c-radio-group__indicator {
            &::after {
                background-color: var(--color-secondary);
            }
        }

        .c-label {
            font-weight: $weight-bold;
        }

        &[data-disabled] {
            .c-radio-group__item {
                border: solid 1px var(--color-quinary);
            }
        }
    }

    &--error {
        .c-radio-group__item {
            background-color: var(--color-error-20);
            border: solid 1px var(--color-error);
        }

        .c-radio-group__error-message {
            color: var(--color-error);
            font-size: var(--font-scale-centi);
        }
    }

    .c-label {
        padding-left: 0.625em;
    }

    &[data-disabled] {
        color: var(--color-neutral-500);
        pointer-events: none;
    }
}
