node_modules

/build
/public/build
.env

/app/styles/tailwind.css

packages/osc-academic-hub/public/*
packages/osc-ecommerce/public/*
packages/osc-academic-hub/coverage/*
packages/osc-ecommerce/coverage/*
packages/osc-ui/coverage/*
/packages/osc-studio/dist/**/*
/packages/osc-ui/dist/**/*