@use "../settings" as *;
@use "../tools" as *;

html {
    height: 100%;
    color: var(--color-secondary);
    font-size: 62.5%;
    font-weight: $weight-reg;
    -webkit-tap-highlight-color: transparent;
    text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-sizing: normal;
}

body {
    overflow-x: hidden;

    @include font-size(var(--scale-zeta));

    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
}
