@use "../settings" as *;
@use "../tools" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    color: var(--color-secondary);
    background-color: var(--color-tertiary);
    font-weight: $weight-reg;
    -webkit-tap-highlight-color: transparent;
    text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-sizing: normal;
}

body {
    overflow-x: hidden;
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;

    @include font-size(var(--font-scale-base), 1.5);
}
