@use "../settings" as *;
@use "../tools" as *;

///*----------------------------------*\
//  #TYPE
//\*----------------------------------*/
//
// Basic Typography styles
//
//\*----------------------------------*/

p {
    margin: 0 0 $global-spacing-relative-s;
}

a {
    color: inherit;
    text-decoration: underline;

    &,
    &:active,
    &:hover {
        text-decoration: none;
    }
}

small {
    @include font-size(var(--font-scale-micro));
}

a[href],
button,
input,
select,
textarea {
    &:focus {
        box-shadow: 0 0 0 0.5rem var(--color-tertiary), 0 0 0 0.75rem var(--color-primary); /* outline color here */

        &:not(:focus-visible) {
            box-shadow: none;
        }
    }
}

input,
select,
textarea {
    @include font-size(var(--font-scale-base), 1.5);
}
