/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
@use "../../styles/settings" as *;
/* stylelint-disable plugin/selector-bem-pattern */

$input-py: calc(var(--space-scale-micro) - 3px);
$input-pr: var(--space-scale-delta);
$input-pl: var(--space-scale-epsilon);

.c-input {
    display: flex;
    order: 1;
    min-width: 20ch;
    max-width: 30ch;
    padding: $input-py $input-pr $input-py $input-pl;
    border: solid 1px var(--color-quinary);
    font-size: var(--font-scale-base);
    cursor: text;
    grid-column: 1;
    grid-row: 2;

    &__icon {
        justify-self: end;
        align-self: center;
        grid-row: 2;
        grid-column: 1;
        padding-right: 5%;
    }

    &:focus {
        outline: 3px solid transparent;
        box-shadow: 0 0 0 2px var(--color-primary);
    }

    &[disabled] {
        background-color: var(--color-neutral-100);
        color: var(--color-neutral-500);
        pointer-events: none;
    }

    &__outer-container {
        display: flex;
    }

    &__container {
        display: grid;
        flex-direction: column;

        .c-label {
            grid-row: 1;
            grid-column: 1;
        }

        &--secondary {
            .c-input {
                border-radius: 6px;
            }
        }

        &--tertiary,
        &--quaternary {
            position: relative;

            .c-label {
                display: flex;
                align-items: center;
                grid-row: 2;
                transform-origin: top left;
                transition: 100ms ease-in-out;
                pointer-events: none;

                &.c-label--filled {
                    top: 10px;
                    transform: translate(0, -1.25em) scale(0.8);
                }
            }

            .c-input {
                &__text {
                    border: none;
                    border-bottom: solid 2px var(--color-secondary);
                }

                &[disabled] {
                    background: none;
                    pointer-events: cursor;
                    border-bottom: solid 2px var(--color-neutral-500);

                    + .c-label {
                        color: var(--color-neutral-500);
                    }
                }
            }

            .c-input:focus {
                box-shadow: none;
            }

            .c-input:focus + .c-label {
                transform: translate(0, -1.25em) scale(0.8);
            }
        }

        &--quaternary {
            .c-input {
                padding: $input-py $input-pr $input-py 0;
                color: var(--color-neutral-600);
            }

            .c-label {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
        }

        &--quaternary + .c-input__button {
            svg {
                width: 1em;
                height: 1em;
            }
        }

        &--error {
            .c-input {
                background-color: var(--color-error-20);
                border: 1px solid var(--color-error);
                box-shadow: 0 1px 2px var(--color-neutral-500), 0 0 5px 3px var(--color-septenary);

                &__error-message {
                    display: flex;
                    order: 2;
                    color: var(--color-error);
                    font-size: var(--font-scale-base);
                    grid-row: 3;
                    grid-column: 1;
                }

                &__icon {
                    &--error {
                        color: var(--color-error);
                    }
                }
            }

            &.c-input__container--tertiary {
                .c-input {
                    background: none;
                    border: none;
                    border-bottom: solid 0.125em var(--color-error);
                    box-shadow: none;
                }
            }
        }
    }

    .c-label {
        cursor: text;
    }
}
