@import "../../styles/settings";
@import "../../styles/tools";

.c-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: $fw-light;

    &__button {
        border: solid 1px var(--color-neutral-400);
        font-weight: $fw-light;
        text-transform: unset;
        letter-spacing: calc($ls-2xs - 0.05em);
    }
}
