@import "../../../../osc-ui/src/styles/settings";
@import "../../../../osc-ui/src/styles/tools";

.c-instant-search {
    &__accordion-header {
        margin: 0;
        /* stylelint-disable-next-line plugin/selector-bem-pattern , selector-class-pattern */
        .c-accordion__trigger {
            font-size: $fs-xl;
        }
    }

    &__accordion {
        .c-accordion {
            /* stylelint-disable-next-line selector-class-pattern */
            & > .c-accordion__item:first-of-type {
                /* stylelint-disable-next-line plugin/selector-bem-pattern , selector-class-pattern */
                .c-accordion__trigger {
                    padding: 0;
                }
            }
        }

        &--nested {
            padding-bottom: $space-l;
            border-bottom: solid 2px var(--color-neutral-600);
        }
    }

    &__card-title {
        display: flex;
        max-width: 30ch;
    }

    .c-pagination {
        @include mq($mq-tab) {
            padding-inline: $space-7xl;
        }
    }
}
