/* stylelint-disable plugin/selector-bem-pattern */
@import "../../styles/settings";
@import "../../styles/tools";

.c-content-media {
    $self: &;

    &__content {
        .c-content {
            max-width: 57ch;

            .c-btn-group {
                margin-block-start: var(--space-scale-m);
            }
        }
    }

    &--media-pos-above {
        #{$self}__media {
            @include mq(mq-token("tab"), max) {
                grid-row: 1;
            }
        }
    }

    &--media-pos-below {
        #{$self}__media {
            @include mq(mq-token("tab"), max) {
                grid-row: 2;
            }
        }
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .c-video-player__wrapper {
        @include mq($mq-tab) {
            // Reset the aspect ratio so we don't overflow the grid
            aspect-ratio: auto;
        }
    }
}
