/* stylelint-disable plugin/selector-bem-pattern */
@use "sass:map";
@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

// TODO: consolidate some of these blog styles
@mixin before-subttl {
    &::before {
        content: "/";
        margin-inline-end: 0.15em;
    }
}

.c-card {
    --card-border: solid 1px var(--color-neutral-400);

    $self: &;

    width: 100%;
    background-color: var(--color-tertiary);
    box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
    font-size: var(--font-scale-base);
    font-weight: $weight-light;
    line-height: 1.4;

    &,
    &__inner,
    &__header {
        display: grid;
    }

    &__img {
        height: 100%;

        img {
            width: 100%;
            max-height: 250px; // TODO: This okay?
            object-fit: cover;
        }

        &.is-rounded {
            width: 160px;
            height: 160px;
            margin: 0 auto;
            margin-top: var(--space-scale-delta);

            > img {
                border-radius: 100%;
            }
        }
    }

    &__inner {
        padding: var(--space-scale-zeta) var(--space-scale-delta) var(--space-scale-delta);
    }

    &__header {
        margin-block-end: var(--space-scale-zeta);
    }

    &__ttl,
    &__subttl {
        margin-block-end: 0;
    }

    &__ttl {
        font-size: var(--font-scale-epsilon);

        &.is-small {
            font-size: var(--font-scale-zeta);
            font-weight: $weight-light;
        }
    }

    &__subttl {
        color: var(--color-neutral-600);
        font-size: var(--font-scale-base);
        grid-row: 1;

        &.is-small {
            font-weight: $weight-light;
        }
    }

    &__body {
        margin-block-start: auto;
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-block-start: var(--space-scale-centi);
        font-size: var(--font-scale-centi);
        font-weight: $weight-light;

        > * {
            margin-bottom: 0;
        }
    }

    &.is-block-link {
        cursor: pointer;
    }

    // *----------------------------------*/
    //  Variant - Blog
    // *----------------------------------*/
    &--blog {
        border-bottom: var(--card-border);
        box-shadow: none;
        color: var(--color-secondary);

        #{$self}__inner {
            padding-inline: 0;
            padding-block-end: 0;
        }

        #{$self}__subttl {
            color: var(--color-secondary);

            @include before-subttl;
        }

        #{$self}__footer {
            border-top: var(--card-border);
            margin-block-start: var(--space-scale-epsilon);
            padding-block: var(--space-scale-epsilon);
        }

        &.is-media-object {
            --card-image-size: 105px;

            grid-template-rows: 1fr;
            grid-template-columns: minmax(0, var(--card-image-size)) minmax(0, 1fr);
            gap: var(--space-scale-micro);

            @include mq(mq-token("tab")) {
                --card-image-size: 160px;

                gap: var(--space-scale-delta);
            }

            #{$self}__img {
                grid-row: 1;
                grid-column: 1;
                width: var(--card-image-size);
                height: var(--card-image-size);
                margin-top: 0;
            }

            #{$self}__header {
                margin-block-end: var(--space-scale-micro);
            }

            #{$self}__ttl {
                font-size: var(--font-scale-gamma);

                @include mq(mq-token("mob-lrg")) {
                    max-width: 24ch;
                    font-size: var(--font-scale-epsilon);
                }
            }

            #{$self}__inner {
                padding: 0;
            }

            #{$self}__footer {
                justify-content: flex-end;
                border-top: none;
                margin-block-start: 0;
                padding-block: 0 var(--space-scale-delta);
            }
        }

        &.is-featured {
            --card-border: none;

            color: var(--color-septenary);
            grid-template-rows: 1fr;

            #{$self}__img {
                grid-row: 1;
                grid-column: 1;
                align-self: stretch;

                &,
                img {
                    max-height: 100%;
                }
            }

            #{$self}__inner {
                grid-row: 1;
                grid-column: 1;
                align-self: end;
                padding: var(--space-scale-gamma) 0 0;
            }

            #{$self}__header {
                margin-block-end: 6px;
            }

            #{$self}__header,
            #{$self}__body {
                padding-inline: 12px;
                font-weight: $weight-bold;

                > * {
                    margin-block-end: 0;
                }
            }

            #{$self}__ttl {
                max-width: 11ch;
                font-size: var(--font-scale-beta);
                line-height: $base-line-height-sml;

                @include mq(mq-token("tab-med")) {
                    max-width: unset;
                    font-size: var(--font-scale-delta);
                }
            }

            #{$self}__subttl {
                color: var(--color-septenary);
            }

            #{$self}__footer {
                margin-block-start: 0;
                padding-block: var(--space-scale-gamma) 0;
                justify-content: flex-end;

                @include mq(mq-token("tab-med")) {
                    padding-block-start: var(--space-scale-epsilon);
                }
            }
        }

        &.is-featured.is-full {
            align-items: center;
            max-width: 100%;

            @include mq(mq-token("mob-lrg"), max) {
                grid-template-rows: minmax(0, 1fr) minmax(0, auto);
            }

            @include mq(mq-token("mob-lrg")) {
                grid-template-columns: minmax(0, 1fr) minmax(0, 45.5%);
            }

            #{$self}__img {
                @include mq(mq-token("mob-lrg"), max) {
                    max-height: 230px;
                    grid-row: 2;
                }

                @include mq(mq-token("mob-lrg")) {
                    grid-column: 2;
                    width: 100%;
                    height: var(--c-card-inner-height);
                }
            }

            #{$self}__inner {
                align-self: center;
            }

            #{$self}__header,
            #{$self}__body {
                padding-inline: var(--space-scale-delta);

                @include mq(mq-token("tab")) {
                    padding-inline: var(--space-scale-beta) var(--space-scale-gamma);
                }
            }

            #{$self}__ttl {
                line-height: 1;

                @include mq(mq-token("tab-med")) {
                    font-size: var(--font-scale-beta);
                }

                @include mq(mq-token("tab")) {
                    line-height: 1.1;
                }
            }
        }
    }

    // *----------------------------------*/
    //  Variant - Collection
    // *----------------------------------*/
    &--collection {
        #{$self}__img {
            grid-row: 1;
            grid-column: 1;
            align-self: stretch;

            &,
            img {
                max-height: 100%;
            }
        }

        #{$self}__inner {
            grid-row: 1;
            grid-column: 1;
            align-self: end;
            padding: var(--space-scale-gamma) 0 0;
        }

        #{$self}__header {
            margin-block-end: 0;
        }

        #{$self}__ttl {
            font-size: var(--font-scale-delta);
        }

        &#{$self}--sm {
            #{$self}__inner {
                grid-row: 2;
                padding-block-start: 0;
            }

            #{$self}__header,
            #{$self}__body,
            #{$self}__footer {
                padding-inline: var(--space-scale-epsilon);
            }

            #{$self}__footer {
                border-top: var(--card-border);
                padding-block-end: var(--space-scale-centi);
            }
        }

        &#{$self}--md {
            #{$self}__inner {
                align-self: center;
                padding: var(--space-scale-beta) var(--space-scale-epsilon);
            }

            #{$self}__ttl {
                font-size: var(--font-scale-delta);
            }

            #{$self}__body {
                max-width: 24ch;
                font-size: var(--font-scale-centi);

                @include mq(mq-token("mob-lrg")) {
                    max-width: 26ch;
                    font-size: var(--font-scale-base);
                }
            }
        }

        &#{$self}--lg {
            #{$self}__img {
                @include mq(mq-token("mob-med")) {
                    padding-block-end: var(--space-scale-omega);
                }

                @include mq(mq-token("mob-lrg")) {
                    padding-block-end: var(--space-scale-omega);
                }
            }

            #{$self}__inner {
                grid-row: 2;
                padding-block-start: 0;

                @include mq(mq-token("mob-med")) {
                    grid-row: 1;
                }
            }

            #{$self}__header,
            #{$self}__body,
            #{$self}__footer {
                padding-inline: var(--space-scale-epsilon);
            }

            #{$self}__body {
                max-width: 28ch;
                padding-block-end: var(--space-scale-epsilon);

                @include mq(mq-token("mob-med")) {
                    max-width: 42ch;
                    padding-block-end: var(--space-scale-delta);
                }

                > button {
                    margin-block-start: var(--space-scale-zeta);
                    max-width: 16ch;

                    @include mq(mq-token("mob-med")) {
                        max-width: 32ch;
                    }
                }
            }
        }
    }
}
