/* stylelint-disable selector-class-pattern */
/* stylelint-disable plugin/selector-bem-pattern */
@use "sass:map";
@use "sass:math";
@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

@mixin before-subttl {
    &::before {
        content: "/";
        margin-inline-end: 0.15em;
    }
}

/*
 * Some elements/modifiers of the card are themeable. This is handled by the --card-theme-color custom property
 *
 * [1] Set the color to the --card-theme-color and fallback to the primary color if it doesn't exist
 * [2] Set the gradient to the --card-theme-gradient and fallback to the primary gradient if it doesn't exist
 */

$card-border: solid 1px var(--color-neutral-400);
$card-color: var(--card-theme-color, var(--color-primary)); /* [1] */
$card-gradient: var(--card-theme-gradient, var(--color-gradient-primary-270)); /* [2] */
$card-shadow: $shadow-m;
$card-space-2xs: $space-2xs;
$card-space-xs: $space-xs;
$card-space-s: $space-s;
$card-space-m: $space-m;
$card-space-l: $space-l;
$card-space-xl: $space-xl;
$card-space-2xl: $space-2xl;
$card-space-5xl: $space-5xl;
$card-fs-s: $fs-s;
$card-fs-m: $fs-m;
$card-fs-l: $fs-l;
$card-fs-xl: $fs-xl;
$card-fs-2xl: $fs-2xl;
$card-fs-3xl: $fs-3xl;

@layer components {
    .c-card {
        --card-border: #{$card-border};

        $self: &;

        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: var(--color-tertiary);
        font-size: var(--font-scale-base);
        font-weight: $fw-light;
        line-height: 1.4;

        &--shadow {
            box-shadow: $card-shadow;
        }

        &,
        &__inner,
        &__header {
            display: grid;
        }

        &__img {
            position: relative;
            height: 100%;

            .o-img {
                width: 100%;
                height: 100%;
                max-height: 250px;

                &__img {
                    object-fit: cover;
                }
            }

            &.is-rounded {
                width: 160px;
                height: 160px;
                margin: 0 auto;
                margin-block-start: $card-space-xl;

                .o-img__img {
                    border-radius: $rad-l;
                }
            }
        }

        &__inner {
            z-index: 1;
            padding: $card-space-m $card-space-xl $card-space-xl;
            grid-template-rows: auto 1fr;
        }

        &__header {
            margin-block-end: $card-space-m;
        }

        &__ttl,
        &__subttl {
            margin-block-end: 0;
        }

        &__ttl {
            font-size: $card-fs-l;

            &--underlined {
                border-bottom: 1px solid var(--color-secondary);
                padding-block-end: 0.2em;
                margin-block-end: 0.2em;
            }

            &.is-small {
                font-size: $card-fs-m;
                font-weight: $fw-reg;
            }
        }

        &__subttl {
            color: var(--color-neutral-700);
            font-size: var(--font-scale-base);
            grid-row: 1;

            &.is-small {
                font-weight: $fw-reg;
            }
        }

        &__body {
            margin-block-start: auto;
            display: flex;
            flex-direction: column;
            height: 100%;

            &-inner {
                margin-block-end: auto;
            }
        }

        &__footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-block-start: $card-space-s;
            font-size: $card-fs-s;
            font-weight: $fw-light;

            > * {
                margin-bottom: 0;
            }
        }

        /*
         * Border image doesn't work with border-radius
         * probably fine in this instance but worth being aware of
         */
        &__callout {
            display: flex;
            justify-content: space-between;
            gap: $card-space-s;
            padding: $card-space-xs $card-space-s;
            margin-block-start: $card-space-m;
            border: 6px solid;
            border-image-slice: 1;
            border-image-source: $card-gradient;

            .o-icon {
                --icon-size: calc(20 / #{$base-fs} * 1em);
            }
        }

        &__price-tag {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-block-start: $card-space-m;
            font-size: $card-fs-m;

            > * {
                margin-block-end: 0;
            }

            > :first-child {
                color: $card-color;
            }
        }

        &__wishlist-btn {
            svg {
                stroke: currentcolor;
                fill: transparent;
                stroke-width: 2px;
            }

            &.is-active {
                @include animate(heartbeat, $timing, $ease-in-out-quint);

                svg {
                    fill: var(--color-primary);
                    stroke: var(--color-primary);
                }
            }
        }

        &.is-block-link {
            cursor: pointer;

            #{$self}__img {
                transition: transform $timing ease-out;
            }

            &:hover {
                #{$self}__img {
                    transform: scale(1.1) rotate(1deg);
                }
            }
        }

        // *----------------------------------*/
        //  Variant - Blog
        // *----------------------------------*/
        &--blog {
            border-bottom: var(--card-border);
            color: var(--color-secondary);

            #{$self}__inner {
                padding-inline: 0;
                padding-block-end: 0;
            }

            #{$self}__subttl {
                color: var(--color-secondary);

                @include before-subttl;
            }

            #{$self}__footer {
                align-items: center;
                border-top: var(--card-border);
                margin-block-start: $card-space-l;
                padding-block: $card-space-l;
            }

            &#{$self}--media-object {
                --card-image-size: 105px;

                grid-template-rows: 1fr;
                grid-template-columns: minmax(0, var(--card-image-size)) minmax(0, 1fr);
                gap: $card-space-2xl;

                @include mq($mq-tab) {
                    --card-image-size: 160px;

                    gap: $card-space-xl;
                }

                #{$self}__img {
                    grid-row: 1;
                    grid-column: 1;
                    width: var(--card-image-size);
                    height: var(--card-image-size);
                    margin-top: 0;
                }

                #{$self}__header {
                    margin-block-end: $card-space-2xs;
                }

                #{$self}__ttl {
                    font-size: $card-fs-2xl;

                    @include mq($mq-mob-l) {
                        max-width: 24ch;
                        font-size: $card-fs-l;
                    }
                }

                #{$self}__inner {
                    padding: 0;
                }

                #{$self}__footer {
                    justify-content: flex-end;
                    border-top: none;
                    margin-block-start: 0;
                    padding-block: 0 $card-space-xl;
                }
            }

            &#{$self}--featured {
                --card-border: none;

                color: var(--color-septenary);
                grid-template-rows: 1fr;

                &:not(.is-full) {
                    min-height: 460px;
                }

                #{$self}__img {
                    grid-row: 1;
                    grid-column: 1;
                    align-self: stretch;
                    mix-blend-mode: multiply;

                    &,
                    .o-img {
                        max-height: 100%;
                    }
                }

                #{$self}__inner {
                    grid-row: 1;
                    grid-column: 1;
                    align-self: end;
                    padding: $card-space-2xl 0 0;
                }

                #{$self}__header {
                    margin-block-end: calc(#{$card-space-xs} / 2);
                }

                #{$self}__header,
                #{$self}__body {
                    padding-inline: $card-space-xs;
                    font-weight: $fw-bold;

                    > * {
                        margin-block-end: 0;
                    }
                }

                #{$self}__ttl {
                    max-width: 11ch;
                    font-size: $card-fs-3xl;
                    line-height: $base-lh;

                    @include mq($mq-tab-m) {
                        max-width: unset;
                        font-size: $card-fs-xl;
                    }
                }

                #{$self}__subttl {
                    color: inherit;
                }

                #{$self}__footer {
                    margin-block-start: 0;
                    padding-block: $card-space-2xl 0;
                    justify-content: flex-end;

                    @include mq($mq-tab-m) {
                        padding-block-start: $card-space-l;
                    }
                }
            }

            &#{$self}--featured.is-full {
                position: relative;
                align-items: center;
                max-width: 100%;

                @include mq($mq-mob-l, max) {
                    grid-template-rows: minmax(0, 1fr) minmax(0, auto);
                }

                @include mq($mq-mob-l) {
                    grid-template-columns: minmax(0, 1fr) minmax(0, 45.5%);
                }

                #{$self}__img {
                    @include mq($mq-mob-l, max) {
                        max-height: 230px;
                        grid-row: 2;
                    }

                    @include mq($mq-mob-l) {
                        grid-column: 2;
                        width: 100%;
                        height: var(--c-card-inner-height);
                    }
                }

                #{$self}__inner {
                    align-self: center;

                    @include mq($mq-mob-l) {
                        padding-block: $card-space-2xl;
                    }
                }

                #{$self}__header,
                #{$self}__body {
                    padding-inline: $card-space-xl;

                    @include mq($mq-tab) {
                        padding-inline: $space-3xl $card-space-2xl;
                    }
                }

                #{$self}__ttl {
                    line-height: 1;

                    @include mq($mq-tab-m) {
                        font-size: $card-fs-3xl;
                    }

                    @include mq($mq-tab) {
                        line-height: 1.1;
                    }
                }

                #{$self}__footer {
                    @include mq($mq-mob-l) {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }

        // *----------------------------------*/
        //  Variant - Collection
        // *----------------------------------*/
        &--collection {
            #{$self}__img {
                grid-row: 1;
                grid-column: 1;
                align-self: stretch;

                &,
                .o-img {
                    max-height: 100%;
                }
            }

            #{$self}__inner {
                grid-row: 1;
                grid-column: 1;
                align-self: end;
                padding: $card-space-2xl 0 0;
            }

            #{$self}__header {
                margin-block-end: 0;
            }

            #{$self}__ttl {
                font-size: $card-fs-xl;
            }

            &#{$self}--sm {
                #{$self}__inner {
                    grid-row: 2;
                    padding-block-start: 0;
                }

                #{$self}__img {
                    max-height: 180px;
                }

                #{$self}__header,
                #{$self}__body,
                #{$self}__footer {
                    padding-inline: $card-space-l;
                }

                #{$self}__footer {
                    border-top: var(--card-border);
                    padding-block-end: $card-space-s;
                }
            }

            &#{$self}--md {
                #{$self}__inner {
                    align-self: center;
                    padding: $space-3xl $card-space-l;
                }

                #{$self}__img {
                    .o-img__img {
                        aspect-ratio: 2 / 1;
                    }
                }

                #{$self}__ttl {
                    font-size: $card-space-xl;
                }

                #{$self}__body {
                    max-width: 24ch;
                    font-size: $card-fs-s;

                    @include mq($mq-mob-l) {
                        max-width: 26ch;
                        font-size: var(--font-scale-base);
                    }
                }
            }

            &#{$self}--lg {
                #{$self}__img {
                    @include mq($mq-mob-m) {
                        padding-block-end: $card-space-5xl;
                    }

                    @include mq($mq-mob-l) {
                        padding-block-end: $card-space-5xl;
                    }

                    .o-img__img {
                        aspect-ratio: 1 / 0.9;
                    }
                }

                #{$self}__inner {
                    grid-row: 2;
                    padding-block-start: 0;

                    @include mq($mq-mob-m) {
                        grid-row: 1;
                    }
                }

                #{$self}__header,
                #{$self}__body,
                #{$self}__footer {
                    padding-inline: $card-space-l;
                }

                #{$self}__body {
                    max-width: 28ch;
                    padding-block-end: $card-space-l;

                    @include mq($mq-mob-m) {
                        max-width: 42ch;
                        padding-block-end: $card-space-xl;
                    }

                    > button {
                        margin-block-start: $card-space-m;
                        max-width: 16ch;

                        @include mq($mq-mob-m) {
                            max-width: 32ch;
                        }
                    }
                }
            }
        }

        // *----------------------------------*/
        //  Variant - Course
        // *----------------------------------*/
        &#{$self}--course {
            #{$self}__inner {
                padding: $card-space-l;
            }

            #{$self}__header {
                button {
                    justify-self: end;
                }
            }

            #{$self}__subttl {
                grid-row: auto;
                color: $card-color;
            }

            #{$self}__body {
                h4,
                h5,
                h6,
                li {
                    font-size: var(--font-scale-base);
                    margin-block-end: 0.2em;
                }

                .c-btn {
                    margin-block-start: $card-space-xs;
                }
            }

            &.is-full {
                border: 1px solid var(--color-neutral-400);

                #{$self}__header {
                    #{$self}__ttl,
                    #{$self}__price-tag {
                        grid-column: 1;
                        grid-row: 1;
                        align-self: end;
                    }

                    #{$self}__price-tag {
                        margin-block-end: 0.5em;
                        line-height: 1.2;
                    }
                }

                #{$self}__subttl {
                    font-size: $card-fs-l;
                }

                #{$self}__price-tag {
                    margin-block-start: 0;
                    margin-inline-start: auto;
                }

                #{$self}__body {
                    flex-flow: row wrap;
                    align-items: center;
                    gap: $card-space-xs;
                    justify-content: space-between;

                    @include mq($mq-tab) {
                        gap: $card-space-m;
                    }

                    #{$self}__body-inner {
                        flex: 100%;
                    }

                    .c-btn-group {
                        gap: $card-space-xs;
                    }

                    .c-btn,
                    #{$self}__callout {
                        margin: 0;
                    }

                    .c-btn {
                        flex-grow: 1;
                    }

                    #{$self}__wishlist-btn {
                        flex-grow: 0;
                        flex-shrink: 0; // Prevent the icon getting too small
                    }

                    .c-btn-group,
                    #{$self}__callout {
                        flex: 100%;

                        @include mq($mq-tab) {
                            flex: 0 1 auto;
                        }
                    }

                    #{$self}__callout {
                        @include mq($mq-tab) {
                            min-width: 480px;
                        }
                    }
                }
            }
        }
    }
}
