/* stylelint-disable selector-class-pattern */
@use "../../styles/settings" as *;
@use "../../styles/tools" as *;
/* stylelint-disable plugin/selector-bem-pattern */

@layer components {
    .c-form {
        &__container {
            position: relative;
            padding: var(--space-scale-2xl);
            box-shadow: $shadow-l, $shadow-s;

            &--newsletter-form {
                display: flex;
                justify-content: center;
                background: var(--color-gradient-secondary-270);
                box-shadow: none;
                color: var(--color-tertiary);
            }

            &--prospectus-form {
                @include mq($mq-tab) {
                    width: 540px;
                }
            }

            &--slide-left,
            &--slide-right {
                .c-form__slide-out-btn {
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    width: max-content;
                    padding: var(--space-scale-s);
                    background: var(--color-secondary);
                    color: var(--color-tertiary);
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    transform: translateX(-50%);
                    cursor: pointer;

                    &:hover {
                        background: var(--color-secondary);
                        color: var(--color-tertiary);
                    }
                }

                @include mq($mq-tab) {
                    .c-form__slide-out-btn {
                        top: 0;
                        bottom: unset;
                        left: 2px;
                        transform: translateX(-70%) translateY(85%) rotate(270deg);
                    }
                }
            }

            &--slide-right {
                @include mq($mq-tab) {
                    .c-form__slide-out-btn {
                        top: 0;
                        right: 2px;
                        bottom: unset;
                        left: unset;
                        transform: translateX(70%) translateY(85%) rotate(270deg);
                    }
                }
            }
        }

        &__inner-container {
            display: flex;
            flex-direction: column;
            gap: $space-l;
        }

        &__hubspot {
            .c-content * {
                margin: 0;
            }
        }
    }
}
