/* stylelint-disable selector-class-pattern */
@use "../../styles/settings" as *;
@use "../../styles/tools" as *;
/* stylelint-disable plugin/selector-bem-pattern */

.c-form {
    &__container {
        position: relative;
        padding: var(--space-scale-2xl);
        box-shadow: $shadow-l, $shadow-s;

        &--slide-left,
        &--slide-right {
            .c-form__container--slide-out-btn {
                position: absolute;
                bottom: 100%;
                left: 50%;
                width: max-content;
                padding: var(--space-scale-s);
                background: var(--color-secondary);
                color: #fff;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                transform: translateX(-50%);
                cursor: pointer;
            }

            @include mq($mq-tab) {
                .c-form__container--slide-out-btn {
                    top: 0;
                    bottom: unset;
                    left: 2px;
                    transform: translateX(-70%) translateY(85%) rotate(270deg);
                }
            }
        }

        &--slide-right {
            @include mq($mq-tab) {
                .c-form__container--slide-out-btn {
                    top: 0;
                    right: 2px;
                    bottom: unset;
                    left: unset;
                    transform: translateX(70%) translateY(85%) rotate(270deg);
                }
            }
        }

        &--newsletter {
            display: flex;
            justify-content: center;
            width: 100%;
            background: var(--color-gradient-secondary-270);
            box-shadow: none;
            color: var(--color-tertiary);
        }
    }

    &__description,
    &__terms {
        font-size: $fs-s;
    }

    &__inner-container {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    .c-btn {
        font-size: $fs-2xs;
    }

    @include mq($mq-tab) {
        .c-btn {
            font-size: $fs-s;
        }
    }

    &__contact {
        @include mq($mq-tab) {
            width: 610px;
        }
    }
}
