@use "../tools/object-fit";

/* ============================
// $IMAGE OBJECT
// Allow the control of image display using Lazyloading and Object-fit
*/

/* ============================
//  Usage:
//
//  <div class="o-img"> ... </div>
*/

.o-img {
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in;
    opacity: 0;

    &:not([src]):not([srcset]) {
        opacity: 0;
    }

    &.is-loaded,
    &.lazyloaded,
    &.flickity-lazyloaded {
        opacity: 1;
    }

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    &--cover {
        @include object-fit.object-fit(cover, center);

        &-right {
            @include object-fit.object-fit(cover, right);
        }

        &-left {
            @include object-fit.object-fit(cover, left);
        }
    }

    &--contain {
        @include object-fit.object-fit(contain, center);
    }

    &--auto {
        width: auto;
        height: auto;
    }
}
