/* stylelint-disable selector-class-pattern */
@use "../../styles/settings" as *;
@use "../../styles/tools" as *;
/* stylelint-disable plugin/selector-bem-pattern */

.c-select {
    --select-font-size: var(--font-scale-centi);
    --secondary-background-color: var(--color-quinary);

    .c-label {
        cursor: pointer;
    }

    &__trigger {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 30ch;
        max-width: 60ch;
        height: 2.2em;
        padding: 0 var(--space-scale-centi);
        background-color: var(--color-tertiary);
        border: 1px solid var(--color-quinary);
        font-size: var(--select-font-size);
        line-height: 1;
        gap: 0.313em;
        cursor: pointer;

        &:hover {
            background-color: var(--color-neutral-300);
        }

        &:focus {
            box-shadow: 0 0 0 0.125em var(--color-primary);
        }

        &[data-placeholder] {
            color: var(--color-secondary);
        }

        &[data-disabled] {
            background-color: var(--color-neutral-200);
            color: var(--color-neutral-500);
            pointer-events: none;
        }

        .c-select__icon {
            svg {
                width: 1.25em;
                height: 1.25em;
            }
        }
    }

    &__content {
        overflow: hidden;
        background-color: var(--color-tertiary);
        box-shadow: 0 10px 38px -10px var(--color-neutral-400), 0 10px 20px -15px var(--color-neutral-400);

        @include z-index(select);

        .c-select__scroll-button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.563em;
            background-color: var(--color-tertiary);
            cursor: default;

            svg {
                width: 1em;
                height: 1em;
            }
        }

        .c-select__viewport {
            padding: var(--space-scale-micro);
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        height: 1.8em;
        padding: 0 2.2em 0 1.8em;
        font-size: var(--select-font-size);
        line-height: 1;
        user-select: none;

        &[data-highlighted] {
            background-color: var(--color-neutral-300);
            outline: none;
        }

        &[data-disabled] {
            color: var(--color-neutral-500);
        }

        .c-select__item-indicator {
            position: absolute;
            left: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 2em;

            svg {
                width: 1em;
                height: 1em;
            }
        }
    }

    &--inline {
        display: flex;
        align-items: center;
        gap: 0.625em;
    }

    &--bold {
        .c-label {
            font-weight: $weight-bold;
        }
    }

    &--secondary {
        .c-select__trigger {
            background-color: var(--secondary-background-color);
        }

        .c-select__content {
            background-color: var(--secondary-background-color);

            .c-select__scroll-button {
                background-color: var(--secondary-background-color);
            }
        }

        .c-select__item[data-highlighted] {
            background-color: var(--color-neutral-200);
        }

        .c-label {
            font-weight: $weight-bold;
        }
    }

    &--tertiary {
        .c-select__trigger {
            min-width: 5ch;
            padding: 0;
            background: none;
            border: none;

            &[data-highlighted] {
                background: none;
            }
        }
    }

    &--error {
        .c-select__trigger {
            background-color: var(--color-error-20);
            border: 1px solid var(--color-error);
        }

        .c-select__icon {
            color: var(--color-error);
        }

        .c-select__error-message {
            color: var(--color-error);
            font-size: var(--select-font-size);
        }

        &.c-select--tertiary {
            .c-select__trigger {
                background: none;
                border: none;
                color: var(--color-error);
            }

            .c-select--error {
                display: none;
            }
        }
    }
}
