@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.c-form-container {
    position: relative;
    padding: var(--space-scale-2xl);
    box-shadow: $shadow-l, $shadow-s;

    &--slide-out {
        &-btn {
            position: absolute;
            bottom: 100%;
            left: 50%;
            width: max-content;
            padding: var(--space-scale-s);
            background: var(--color-secondary);
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            transform: translateX(-50%);
            cursor: pointer;
        }

        @include mq($mq-tab) {
            &-btn {
                top: 0;
                bottom: unset;
                left: 2px;
                transform: translateX(-70%) translateY(85%) rotate(270deg);
            }
        }
    }

    &--newsletter {
        display: flex;
        justify-content: center;
        width: 100%;
        background: var(--color-gradient-secondary-270);
        box-shadow: none;
        color: var(--color-tertiary);
    }
}
