@use "../tools/position";
@use "../tools/zindex";

.o-bg {
    $self: &;

    position: relative;

    @include zindex.z-index(bg);

    &::before {
        display: flex;
        width: 100%;
        content: "";

        @include position.position(absolute, 0, 0, null, 0, -1);

        background-repeat: repeat-x;
        opacity: 1;
        pointer-events: none;
    }
}
