@use "../settings" as *;
@use "../tools" as *;

/* ============================
// CONTAINER OBJECT
// A wrapper to go around objects that sets a max width for our content
//
// 1. $space-5xl is a fluid scale, it's max size is 96px so we're adding 4px
// to round it out to 100px as per design file
*/

/* ============================
//  Usage:
//
//  <div class="o-container"> ... </div>
*/

$padding: calc($space-5xl + 4px); /* [1] */
$padding-s: $space-l;
$container-width-2xs: #{$container-2xs}px;
$container-width-xs: #{$container-xs}px;
$container-width-s: #{$container-s}px;
$container-width-m: #{$container-m}px;
$container-width-l: #{$container-l}px;

.o-container {
    // Use min function to set min & max width of the container
    width: min(100%, $container-width-m);
    margin-inline: auto;
    padding-inline: $padding-s;

    @include mq($mq-desk) {
        padding-inline: $padding;
    }

    &--flush-r {
        padding-inline-end: 0;
    }

    &--flush-l {
        padding-inline-start: 0;
    }

    &--flush {
        padding-inline: 0;
    }

    &--pull-r {
        padding-inline-end: 0;
    }

    &--pull-l {
        padding-inline-start: 0;
    }

    &--2xs {
        width: min(100%, $container-width-2xs);
    }

    &--xs {
        width: min(100%, $container-width-xs);
    }

    &--s {
        width: min(100%, $container-width-s);
    }

    &--l {
        width: min(100%, $container-width-l);
    }

    &--full {
        width: 100%;
    }
}
