@use "../settings" as *;
@use "../tools" as *;

/* ============================
// CONTAINER OBJECT
// A wrapper to go around objects that sets a max width for our content
//
// 1. $global-spacing-xxxl is a fluid scale, it's max size is 83px so we're adding 17px
// to round it out to 100px as per design file
*/

/* ============================
//  Usage:
//
//  <div class="o-container"> ... </div>
*/

.o-container {
    $padding: calc($space-5xl + 4px); /* [1] */
    $padding-alt: $space-l;

    width: 100%;
    max-width: #{$container-m}px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $padding-alt;
    padding-left: $padding-alt;

    @include mq($mq-desk) {
        padding-right: $padding;
        padding-left: $padding;
    }

    &--flush {
        padding-right: 0;
        padding-left: 0;

        &-alt-r {
            @include mq($mq-mob, max) {
                padding-right: 0;
            }
        }

        &-alt-l {
            @include mq($mq-mob, max) {
                padding-left: 0;
            }
        }
    }

    &--pad-r {
        padding-right: 0;

        @include mq($mq-mob) {
            padding-right: $space-m;
        }
    }

    &--pad-l {
        padding-left: 0;

        @include mq($mq-mob) {
            padding-left: $space-m;
        }
    }

    // Container Sizes

    &--4xs {
        max-width: calc(#{$container-4xs * 1px} + #{$padding});
    }

    &--3xs {
        max-width: calc(#{$container-3xs * 1px} + #{$padding});
    }

    &--2xs {
        max-width: calc(#{$container-2xs * 1px} + #{$padding});
    }

    &--xs {
        max-width: calc(#{$container-xs * 1px} + #{$padding});
    }

    &--s {
        max-width: calc(#{$container-s * 1px} + #{$padding});
    }

    &--l {
        max-width: calc(#{$container-l * 1px} + #{$padding});
    }

    &--full {
        max-width: 100%;
    }

    &-fluid {
        padding: $padding;
    }
}
