.o-icon {
    // Set the icon size to 1em by default
    // This allows us to scale the icon size by changing the font-size
    --icon-size: 1em;

    width: var(--icon-size);
    height: var(--icon-size);

    &--lg {
        --icon-size: 1.25em;
    }
}
