@use "../settings" as *;
@use "../tools" as *;

/* ============================
// $IMAGE OBJECT
// Allow the control of image display using Lazyloading and Object-fit
*/

/* ============================
//  Usage:
//
//  <div class="o-img"> ... </div>
*/

.o-img {
    position: relative;

    &--blend {
        mix-blend-mode: multiply;
    }

    &--bg {
        background: no-repeat top center;
    }

    &--isolate {
        isolation: isolate;
    }

    &--opacity {
        opacity: 0.8;
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s ease-in;

        &--cover {
            @include object-fit(cover, center);

            &-right {
                @include object-fit(cover, right);
            }

            &-left {
                @include object-fit(cover, left);
            }
        }

        &--overlay {
            mix-blend-mode: overlay;
        }

        &--grayscale {
            filter: grayscale(1);
        }

        &--contain {
            @include object-fit(contain, center);
        }

        &--auto {
            width: auto;
            height: auto;
        }
    }
}
