@use "../settings" as *;
@use "../tools" as *;

/* ============================
// $GENERIC LIST OBJECT
*/

// stylelint-disable
.o-list,
[class*="c-content"] ul,
[class*="c-content"] ol,
[class*="free-text"] ul {
    &:not(.is-bare) {
        width: 100%;
        margin: 0 0 $space-s;
        padding: 0;
    }

    li {
        position: relative;
        display: list-item;
        margin-bottom: $space-xs;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    ul {
        padding-left: $space-m;

        &.is-child {
            margin: 0;
        }

        ul {
            margin-top: $space-xs;
        }
    }

    &:where(ul),
    &--bullet {
        $bullet: 0.25em;

        &:not(.is-bare) {
            list-style: none outside none;

            li {
                padding-left: $space-xs;

                &.has-children {
                    padding-left: 0;
                    display: contents;
                }

                &:not(.has-children) {
                    &::before {
                        content: "";
                        @include position(absolute, 0.75em, null, null, 0);
                        width: $bullet;
                        height: $bullet;
                        margin: auto 0;
                        background-color: currentColor;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    &:where(ol) {
        &:not(.is-bare) {
            padding-left: $space-xs;
            list-style: numeric outside none;
        }
    }

    &--square {
        list-style: square outside;
    }
    &--circle {
        list-style: circle outside;
    }
    &--disc {
        list-style: disc outside;
    }
    &--counter {
        list-style: decimal outside;
    }
    &--reset {
        list-style: none outside none;
    }
}
// stylelint-enable
