@use "../settings" as s;

/* ============================
// $ROW WRAPPER
// A structural element that allows containerisation of objects and components while also
// applying vertical rhythym of said components. Grid elements can be used within the row object.
*/

/* ============================
//  Usage:
//
//  <div class="o-row"> ... </div>
*/

.o-row {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto s.$global-spacing;
    background-size: cover;

    // content-visibility: auto;
    // contain: layout;

    &--n {
        margin-bottom: 0;
    }

    &--s {
        margin-bottom: s.$global-spacing-s;
    }

    &--m {
        margin-bottom: s.$global-spacing-m;
    }

    &--l {
        margin-bottom: s.$global-spacing-l;
    }

    &--xl {
        margin-bottom: s.$global-spacing-xl;
    }

    &--padded {
        padding-top: s.$global-spacing-m;
        padding-bottom: s.$global-spacing;

        &-sml {
            padding-top: s.$global-spacing;
            padding-bottom: s.$global-spacing;
        }
    }

    &--centre {
        justify-content: center;
    }
}
