@use "sass:list";
@use "sass:map";
@use "../settings" as *;
@use "../tools" as *;

/* ============================
// $FONT STYLES
// Define our Font Elements/Classes.
// We are able to utilise semantic H1-H6 but also override the presentation using the class convention
*/

/* ============================
//  Usage:
//
// @param {*} elements - expects an element tag. recommended h1 - h6
// @param {*} classes - expects desired class name
// @param {*} font-size - expects a base font-size with option to add different sizes at different media queries

// Usage:
// <h1 class="t-font-xl"></h1>
*/

@font-face {
    font-family: Outfit;
    font-style: normal;
    font-weight: 100 900;
    src: url("./fonts/Outfit-VariableFont_wght.woff2") format("woff2-variations");
    font-display: swap;
}

@font-face {
    font-family: "F37 Judge";
    font-style: normal;
    font-weight: normal;

    // prettier-ignore
    src:
        url("./fonts/F37Judge-RegularCompressed.woff2") format("woff2"),
        url("./fonts/F37Judge-RegularCompressed.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "F37 Judge";
    font-style: normal;
    font-weight: bold;

    // prettier-ignore
    src:
        url("./fonts/F37Judge-BoldCompressed.woff2") format("woff2"),
        url("./fonts/F37Judge-BoldCompressed.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "F37 Judge";
    font-style: normal;
    font-weight: normal;

    // prettier-ignore
    src:
        url("./fonts/F37Judge-RegularCompressed.woff2") format("woff2"),
        url("./fonts/F37Judge-RegularCompressed.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "F37 Judge";
    font-style: normal;
    font-weight: bold;

    // prettier-ignore
    src:
        url("./fonts/F37Judge-BoldCompressed.woff2") format("woff2"),
        url("./fonts/F37Judge-BoldCompressed.woff") format("woff");
    font-display: swap;
}

$font-sizes: (
    (
        elements: (
            h1
        ),
        classes: (
            "3xl"
        )
    ),
    (
        elements: (
            h2
        ),
        classes: (
            "2xl"
        )
    ),
    (
        elements: (
            h3
        ),
        classes: (
            "xl"
        )
    ),
    (
        elements: (
            h4
        ),
        classes: (
            "l"
        )
    ),
    (
        elements: (
            h5
        ),
        classes: (
            "m"
        )
    ),
    (
        elements: (
            h6
        ),
        classes: (
            "s"
        )
    ),
    (
        elements: (),
        classes: (
            "xs"
        )
    ),
    (
        elements: (),
        classes: (
            "2xs"
        )
    ),
    (
        elements: (),
        classes: (
            "4xl"
        )
    ),
    (
        elements: (),
        classes: (
            "5xl"
        )
    ),
    (
        elements: (),
        classes: (
            "6xl"
        )
    ),
    (
        elements: (),
        classes: (
            "7xl"
        )
    )
);
$font-families: (
    "primary": $font-primary,
    "secondary": $font-secondary
);

/* postcss-bem-linter: ignore */
h1,
h2,
h3,
h4,
h5,
h6,
[class*="t-font"] {
    margin: 0 0 $space-rel-xs;
    font-style: normal;
    font-weight: $fw-bold;
    text-transform: none;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
[class*="t-font"] {
    font-weight: $fw-reg;
}

// Font Family
.t-font {
    @each $name, $font-family in $font-families {
        &-#{$name} {
            font-family: #{$font-family};

            @if $name == "secondary" {
                text-transform: uppercase;
            }
        }
    }
}

// Font Sizes
@each $rule in $font-sizes {
    $elements: map.get($rule, elements);
    $classes: map.get($rule, classes);

    @each $element in $elements {
        @each $class in $classes {
            #{$element} {
                @include font-size(var(--font-scale-#{$class}), $base-lh);
            }
        }
    }

    @each $class in $classes {
        .t-font-#{$class} {
            @if $class == "2xl" or $class == "3xl" or $class == "4xl" {
                @include font-size(var(--font-scale-#{$class}), 1.2);
            } @else if $class == "7xl" or $class == "6xl" or $class == "5xl" {
                @include font-size(var(--font-scale-#{$class}), 1);
            } @else {
                @include font-size(var(--font-scale-#{$class}), $base-lh);
            }
        }
    }
}
