@use "../../settings/global";
@use "deep-map-check";
@use "deep-map-get";
@use "str-explode";

// ---------------------------------------------------------
// get
// Search for any value contained within nested maps, by using
// dot notation as the key argument
//
// Required arguments:
// `$key` String
//
// Example of use:
// get('border.radius.xs')
//
// Dependencies:
// deep-map-check, deep-map-get, str-explode
//
// @return Anything
// ---------------------------------------------------------
@function get($key, $map: global.$prop-config) {
    $keys: str-explode.str-explode($key, ".");

    @if not deep-map-check.deep-map-check($map, $keys...) {
        @error "The argument $map: `#{$map}` doesn\'t has some of the $keys: `#{$keys}`!";
    }

    @return deep-map-get.deep-map-get($map, $keys...);
}
