/* stylelint-disable selector-class-pattern */
@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

@layer components {
    $line-item-spacing: $space-m;

    .c-line-item {
        display: flex;
        margin-block-start: $line-item-spacing;
        padding-block-end: $line-item-spacing;
        border-bottom: solid 1px var(--color-neutral-400);

        &--primary {
            flex-flow: row wrap;
            justify-content: space-between;
        }

        &--secondary {
            flex-direction: column;
        }

        &__header {
            &--primary {
                font-size: $fs-m;
                line-height: 1;
            }

            &--secondary {
                color: var(--color-neutral-700);
                font-size: $fs-s;
                font-weight: $fw-bold;
            }
        }
    }
}
