@import "../../styles/settings";
@import "../../styles/tools";

@layer components {
    $banner-bg: var(--color-neutral-300);
    $banner-bg-secondary: var(--color-tertiary);
    $banner-fg: var(--color-nonary);
    $banner-fg-secondary: var(--color-secondary);
    $banner-py: $space-xl;
    $banner-py-s: $space-s;
    $banner-px: $space-m;
    $banner-px-s: $space-s;
    $banner-px-l: $space-xl;
    $banner-content-max-w: 40ch;
    $banner-breakpoint: 1137;
    $banner-img-width: 330px; // Set a fixed width so the image doesn't cause the banner to resize when loading
    $banner-border-width: 6px;
    $banner-gradient: var(--color-gradient-quaternary-90);

    .c-callout-banner {
        display: flex;
        max-width: 100%;
        margin-inline: auto;
        gap: $space-m;

        /* stylelint-disable-next-line plugin/selector-bem-pattern */
        p,
        li {
            margin-block-end: 0;
        }

        &--primary {
            flex-direction: column;
            padding: $banner-py $banner-px;
            background-color: $banner-bg;
            color: $banner-fg;

            @include mq($mq-tab-l) {
                flex-flow: row wrap;
                align-items: center;
                width: fit-content; // make sure banner is constrained to the width of it's children
                padding: $banner-py-s $banner-px-l;
            }
        }

        &--secondary {
            flex-wrap: wrap;
            align-items: center;
            row-gap: 0;
            padding: $banner-py-s $banner-px-s;
            background-color: $banner-bg-secondary;
            border: $banner-border-width solid;
            color: $banner-fg-secondary;
            border-image-slice: 1;
            border-image-source: $banner-gradient;
        }

        &__ttl {
            font-size: $fs-7xl;
            padding-inline-end: $space-m;
            margin-block-end: 0;

            @include mq($mq-mob-l) {
                font-size: $fs-6xl;
            }

            @include mq($mq-tab-l) {
                font-size: $fs-5xl;
            }

            @include mq(($mq-desk, $banner-breakpoint)) {
                // One off breakpoint to stretch the title across the width of the flex-container
                // Without this the button wraps onto it's own line and looks odd
                flex: 100%;
            }
        }

        &__content-group {
            flex: 1;
            margin-block-end: 0;

            @include mq($mq-desk-m) {
                max-width: $banner-content-max-w;
            }

            &--shrink {
                flex: 0;
            }
        }

        &__btn-group {
            .c-btn {
                @include mq($mq-tab, max) {
                    width: 100%;
                }
            }
        }

        &__footer {
            flex: 100%;
            font-size: $fs-s;

            &--primary {
                margin-block-start: $space-xs;

                @include mq($mq-tab-l) {
                    text-align: right;
                }
            }
        }

        /* stylelint-disable-next-line plugin/selector-bem-pattern, selector-class-pattern */
        .o-img__img {
            width: $banner-img-width;
            object-fit: contain;
        }
    }
}
