@use "sass:math";
@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

$play-btn-size: $base-font-size * 5px;
$play-btn-color: var(--color-tertiary);
$play-btn-radius: $radius-l;
$play-btn-icon-size: rem($base-font-size * 2);

.c-video-player {
    position: relative;

    &__wrapper {
        position: relative;

        @include ratio(16 9);
    }

    &__btn {
        position: absolute;
        display: grid;
        place-items: center;
        width: $play-btn-size;
        height: $play-btn-size;
        border: 2px solid $play-btn-color;
        border-radius: $play-btn-radius;
        color: $play-btn-color;
        font-size: $play-btn-icon-size;

        /* stylelint-disable-next-line plugin/selector-bem-pattern */
        > .o-icon {
            position: relative;
            left: 3px; // offset the position to make it more visually aligned
        }
    }

    &__overlay {
        position: absolute;
        inset: 0;
        pointer-events: none;
    }
}
