/* stylelint-disable selector-class-pattern */
@use "sass:math";
@use "../../styles/settings" as *;
@use "../../styles/tools" as *;
/* stylelint-disable plugin/selector-bem-pattern */

@layer components {
    .c-label {
        color: var(--color-neutral-700);
        cursor: pointer;

        &__required {
            padding-inline-start: #{math.div(1, $base-fs)}em;
        }

        &--bold {
            font-weight: $fw-bold;
        }

        &--dark {
            color: var(--color-secondary);
        }

        &--s {
            @include mq($mq-desk) {
                max-width: 19ch;
            }
        }

        &--m {
            font-weight: $fw-reg;
        }

        &--xl {
            font-size: $fs-l;
            font-weight: $fw-bold;
        }
    }
}
