/* stylelint-disable selector-class-pattern */
@use "sass:math";
@use "../../styles/settings" as *;
/* stylelint-disable plugin/selector-bem-pattern */

@layer components {
    .c-label {
        color: var(--color-neutral-700);
        cursor: pointer;

        &__required {
            padding-inline-start: #{math.div(1, $base-fs)}em;
        }

        &--bold {
            font-weight: $fw-bold;
        }

        &--m {
            font-weight: $fw-reg;
        }

        &--xl {
            font-size: $fs-l;
            font-weight: $fw-bold;
        }
    }
}
