@import "../../styles/settings";

.c-popover {
    &__content {
        width: 260px;
        padding: $space-m;
        background-color: var(--color-tertiary);
        border-radius: $rad-xs;
        box-shadow:
            hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
            hsl(206deg 22% 7% / 20%) 0 10px 20px -15px; // todo: create box-shadow variable;

        animation-duration: $timing;
        animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
        will-change: transform, opacity;

        &:focus {
            box-shadow:
                hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
                hsl(206deg 22% 7% / 20%) 0 10px 20px -15px,
                0 0 0 2px var(--color-neutral-200);

            // todo: create box-shadow variable;
        }
    }

    &__close {
        position: absolute;
        top: 5px;
        right: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: $rad;
        font-family: inherit;

        &:hover {
            background-color: var(--color-neutral-200);
        }

        &:focus {
            box-shadow: 0 0 0 2px var(--color-neutral-200); // todo: create box-shadow variable;
        }
    }

    &__icon-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        background-color: var(--color-tertiary);
        border-radius: $rad;
        color: var(--color-secondary);
        font-family: inherit;

        &:hover {
            background-color: var(--color-neutral-200);
        }

        &:focus {
            box-shadow: 0 0 0 2px var(--color-neutral-0); // todo: create box-shadow variable;
        }
    }
}
