/* stylelint-disable selector-class-pattern */
@use "sass:math";
@use "../../styles/settings" as *;
@use "../../styles/tools" as *;
/* stylelint-disable plugin/selector-bem-pattern */

@layer components {
    // Sizes
    $checkbox-width-s: 1;
    $checkbox-height-s: 1;
    $checkbox-width: 1.25;
    $checkbox-height: 1.25;
    $checkbox-width-xl: 2;
    $checkbox-height-xl: 2;

    .c-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-tertiary);
        border: 1px solid var(--color-quinary);
        cursor: pointer;

        &--s {
            width: #{$checkbox-width-s}rem;
            height: #{$checkbox-height-s}rem;
        }

        &--m {
            width: #{$checkbox-width}rem;
            height: #{$checkbox-height}rem;
        }

        &--xl {
            width: #{$checkbox-width-xl}rem;
            height: #{$checkbox-height-xl}rem;
        }

        &__description {
            flex: 1 100%;
            color: var(--color-neutral-700);
        }

        &__indicator {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--color-primary);
            color: var(--color-tertiary);

            &--s {
                width: #{(0.7 * $checkbox-width-s)}rem;
                height: #{(0.7 * $checkbox-height-s)}rem;
            }

            &--m {
                width: #{math.div(1, $checkbox-width)}rem;
                height: #{math.div(1, $checkbox-height)}rem;
            }

            &--xl {
                width: #{math.div($checkbox-width-xl, 1.45)}rem;
                height: #{math.div($checkbox-height-xl, 1.45)}rem;
            }
        }

        &__group-container {
            padding: 0;
        }

        &__container {
            display: flex;
            align-items: center;

            &--secondary {
                .c-label {
                    font-weight: $fw-bold;
                }

                .c-checkbox {
                    &[data-state="checked"] {
                        border: none;

                        &:focus {
                            box-shadow: $shadow-focus-s;
                        }
                    }

                    &__indicator {
                        width: 100%;
                        height: 100%;
                    }

                    &[data-state="unchecked"] {
                        + .c-label {
                            color: var(--color-neutral-700);
                        }
                    }
                }
            }

            &--error {
                .c-checkbox {
                    background-color: var(--color-error-20);
                    border: 1px solid var(--color-error);
                }

                .c-checkbox__error-message {
                    flex: 1 100%;
                    padding-top: $space-xs;
                    color: var(--color-error);
                }
            }

            &--s {
                align-items: flex-start;
            }

            &--xl {
                @include mq($mq-mob-l, max) {
                    align-items: flex-start;
                }
            }

            /* stylelint-disable-next-line no-descending-specificity */
            .c-label {
                flex: 1;
                max-width: max-content;
                padding-inline-start: $space-xs;
                color: var(--color-secondary);

                &--s {
                    padding-inline-start: calc($space-2xs - 2px);
                    line-height: 1;
                }
            }
        }

        &:hover {
            background-color: var(--color-neutral-300);
        }

        &:focus {
            box-shadow: $shadow-focus-s;
        }

        &[data-disabled] {
            background-color: var(--color-quinary);
            pointer-events: none;

            /* stylelint-disable-next-line no-descending-specificity */
            + .c-label {
                color: var(--color-neutral-500);
                pointer-events: none;
            }
        }

        &__is-checked {
            --icon-size: 0.625em;
        }
    }
}
