/* stylelint-disable selector-class-pattern */
@use "sass:math";
@use "../../styles/settings" as *;
/* stylelint-disable plugin/selector-bem-pattern */

// Sizes
$checkbox-width: 1.25;
$checkbox-height: 1.25;

.c-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: #{$checkbox-width}rem;
    height: #{$checkbox-height}rem;
    background-color: var(--color-tertiary);
    border: 1px solid var(--color-quinary);
    cursor: pointer;

    &__description {
        flex: 1 100%;
        font-size: $fs-s;
    }

    &__indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        width: #{math.div(1, $checkbox-width)}rem;
        height: #{math.div(1, $checkbox-height)}rem;
        background: var(--color-primary);
        color: var(--color-tertiary);
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &--secondary {
            .c-checkbox {
                &[data-state="checked"] {
                    border: none;

                    &:focus {
                        box-shadow: $shadow-focus-s;
                    }
                }

                &__indicator {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &--error {
            .c-checkbox {
                background-color: var(--color-error-20);
                border: 1px solid var(--color-error);
            }

            .c-checkbox__error-message {
                flex: 1 100%;
                padding-top: $space-xs;
                color: var(--color-error);
                font-size: $fs-s;
            }
        }

        .c-label {
            padding-left: $space-xs;
        }
    }

    &:hover {
        background-color: var(--color-neutral-300);
    }

    &:focus {
        box-shadow: $shadow-focus-s;
    }

    &[data-disabled] {
        background-color: var(--color-quinary);
        pointer-events: none;

        + .c-label {
            color: var(--color-neutral-500);
            pointer-events: none;
        }
    }

    &__is-checked {
        --icon-size: 0.625em;
    }
}
