@import "../../styles/settings";
@import "../../styles/tools";

@layer components {
    .c-content {
        --content-decoration-color: var(--color-quaternary);
        --content-decoration-size: 0.1em;

        display: flex;
        flex-grow: 1;
        flex-direction: column;
        width: 100%;

        @include mq($mq-mob, max) {
            hyphens: auto; // Allow the browser to hyphenate words when needed
        }

        // Ensure the links are underlined unless they are buttons or has been specifically reset
        /* stylelint-disable-next-line plugin/selector-bem-pattern */
        a[href]:not(.c-btn):not(.u-text-reset) {
            text-decoration: underline solid currentcolor var(--content-decoration-size);
            transition: text-decoration $timing-s $ease-out;

            /* stylelint-disable-next-line plugin/selector-bem-pattern */
            &:hover {
                text-decoration:
                    underline solid var(--content-decoration-color)
                    var(--content-decoration-size);
            }
        }

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            max-width: 80ch;

            // Horizontal Alignments
            &--left {
                text-align: left;
            }

            &--centre {
                align-items: center;
                text-align: center;
            }

            &--right {
                align-items: flex-end;
                text-align: right;
            }

            // Vertical Alignments
            &--top {
                align-items: flex-start;
            }

            &--bottom {
                align-items: flex-end;
            }

            // Control width
            &--full {
                max-width: 100%;
            }
        }
    }
}
