/* stylelint-disable plugin/selector-bem-pattern */
@import "../../styles/settings";
@import "../../styles/tools";

@layer components {
    // Panel
    $panel-max-height: 500px;
    $panel-shadow: $shadow-xl;
    $panel-radius: $rad-xs;

    .c-autocomplete {
        /* stylelint-disable selector-class-pattern */
        .c-input__text::-webkit-search-decoration,
        .c-input__text::-webkit-search-cancel-button,
        .c-input__text::-webkit-search-results-button,
        .c-input__text::-webkit-search-results-decoration {
            background: var(--color-secondary);
        }
        /* stylelint-enable selector-class-pattern */
        &__panel {
            width: 100%;
            margin: 8px 0 0;
            overflow: hidden;
            border-radius: $panel-radius;
            box-shadow: $panel-shadow;

            &--scrollable {
                max-height: $panel-max-height;
                overflow-x: hidden;
                overflow-y: auto;
                padding: $space-xs;
            }
        }

        &__cta {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: var(--font-scale-xl);
        }

        &__input-clear-button {
            position: absolute;
            top: $space-l;
            right: $space-3xl;
            cursor: pointer;
        }

        &__item {
            display: grid;
            padding: $fs-2xs;
            cursor: pointer;

            &[aria-selected="true"] {
                background-color: var(--color-senary);
                color: var(--color-tertiary);
            }

            &:last-child {
                margin-bottom: var(--font-scale-xs);
            }

            &-wrapper {
                display: grid;
                grid-auto-flow: column;
                justify-content: space-between;
                width: 100%;
            }

            &-content {
                display: grid;
                align-items: center;
                line-height: 1.25em;
                gap: $space-xs;
                grid-auto-flow: column;

                mark {
                    color: var(--color-primary);
                    font-weight: $fw-bold;
                }
            }

            &-description {
                color: #262627;
                color: rgb(var(--aa-text-color-rgb) var(--aa-text-color-alpha));
                font-size: $fs-xs;
            }
        }
    }
}
