/* stylelint-disable plugin/selector-bem-pattern */
@import "../../styles/settings";
@import "../../styles/tools";

@layer components {
    // Panel
    $panel-max-height: 500px;
    $panel-shadow: $shadow-xl;
    $panel-radius: $rad-xs;

    .c-autocomplete {
        &__panel {
            width: 100%;
            margin: 8px 0 0;
            overflow: hidden;
            border-radius: $panel-radius;
            box-shadow: $panel-shadow;

            &--scrollable {
                max-height: $panel-max-height;
                overflow-x: hidden;
                overflow-y: auto;
                padding: $space-xs;
            }
        }

        &__input_clear_button {
            position: absolute;
            top: 26px;
            right: 55px;
            cursor: pointer;
        }

        &__item {
            display: grid;
            padding: calc($space-2xs - 4px);
            cursor: pointer;

            &-wrapper {
                display: grid;
                grid-auto-flow: column;
                justify-content: space-between;
                width: 100%;
            }

            &-content {
                display: grid;
                align-items: center;
                line-height: 1.25em;
                gap: $space-xs;
                grid-auto-flow: column;

                mark {
                    color: var(--color-primary);
                    font-weight: $fw-bold;
                }
            }

            &-description {
                color: #262627;
                color: rgb(var(--aa-text-color-rgb) var(--aa-text-color-alpha));
                font-size: calc($fs-s - 2px);
            }
        }
    }
}
