@layer components {
    .c-breadcrumb {
        display: flex;
        flex-wrap: wrap;

        &__item {
            display: inline-flex;
            align-items: center;

            &:hover {
                // standard link hover styles
                [aria-current="page"] {
                    // non-standard link hover styles
                    text-decoration: none;
                    cursor: text;
                }
            }
        }

        &__separator {
            margin-inline: 0.25em;
            display: inline-block;
        }
    }
}
