@use "../../styles/tools" as *;

/* stylelint-disable-next-line plugin/selector-bem-pattern */
button {
    all: unset; // Reset all button styles
    box-sizing: border-box;
}

.c-switch {
    --switch-radius: 9999px;
    --switch-width: #{rem(50)};
    --switch-height: #{rem(28)};
    --switch-thumb-offset: 2px;
    --switch-thumb-size: #{rem(24)};
    --switch-transition-duration: 0.2s;

    position: relative;
    width: var(--switch-width);
    height: var(--switch-height);
    background-color: hsl(0deg 0% 79%);
    border-radius: var(--switch-radius);
    transition: filter var(--switch-transition-duration);
    cursor: pointer;

    &:focus {
        box-shadow: 0 0 0 0.5rem var(--color-tertiary), 0 0 0 0.75rem var(--color-primary);
    }

    &:not([disabled]):hover {
        filter: brightness(0.95);
    }

    /* stylelint-disable-next-line plugin/selector-bem-pattern */
    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &[data-state="checked"] {
        background-color: var(--color-primary);
    }

    &__thumb {
        display: block;
        width: var(--switch-thumb-size);
        height: var(--switch-thumb-size);
        background-color: var(--color-tertiary);
        border-radius: var(--switch-radius);
        transform: translateX(var(--switch-thumb-offset));
        transition: transform var(--switch-transition-duration);
        will-change: transform;

        &[data-state="checked"] {
            transform:
                // width of the switch minus the width of the thumb size minus the offset (50 - 24 - 2)
                translateX(
                    calc(var(--switch-width) - var(--switch-thumb-size) - var(--switch-thumb-offset))
                );
        }
    }

    // *----------------------------------*/
    //  Variants
    // --large is the default
    // *----------------------------------*/
    &--small {
        --switch-width: #{rem(26)};
        --switch-height: #{rem(16)};
        --switch-thumb-size: #{rem(12)};
    }

    &--medium {
        --switch-width: #{rem(34)};
        --switch-height: #{rem(20)};
        --switch-thumb-size: #{rem(16)};
    }
}
