@use "./tokens" as *;
@use "../tools/functions/get-tokens" as *;

///*----------------------------------*\
//  #CONTAINER WIDTH SETTINGS
//\*----------------------------------*/
//
//  Defines global container widths
//
//\*----------------------------------*/

$container-size: container-token("container-size"); // 1440

$container-size-xxxsml: container-token("container-size-xxxsml");
$container-size-xxsml: container-token("container-size-xxsml");
$container-size-xsml: container-token("container-size-xsml");
$container-size-sml: container-token("container-size-sml");
$container-size-med: container-token("container-size-med");
$container-size-lrg: container-token("container-size-lrg");
