@use "./tokens" as *;
@use "../tools/functions/get-tokens" as *;

///*----------------------------------*\
//  #CONTAINER WIDTH SETTINGS
//\*----------------------------------*/
//
//  Defines global container widths
//
//\*----------------------------------*/

$container-6xs: container-token("container-size-6xs"); // 240
$container-5xs: container-token("container-size-5xs"); // 400
$container-4xs: container-token("container-size-4xs"); // 610
$container-3xs: container-token("container-size-3xs"); // 960
$container-2xs: container-token("container-size-2xs"); // 1020
$container-xs: container-token("container-size-xs"); // 1140
$container-s: container-token("container-size-s"); //1280
$container-m: container-token("container-size-m"); // 1440
$container-l: container-token("container-size-l"); // 1680
