@use "sass:math";

///*----------------------------------*\
//  #GLOBAL SETTINGS
//\*----------------------------------*/
//
// Define global variables that dictate typography and spacing sizes
//
//\*----------------------------------*/

// The main asset path
$asset-path: "/osc/themes/osc/assets";
$osc-config: () !default;

$global-base-width: 1440; // TODO: delete this
$global-scale-ratio: 1.3; // TODO: delete this
$global-baseline: 10; // TODO: delete this