@use "sass:math";
@use "sass:list";
@use "spacing" as *;

///*----------------------------------*\
//  #RADIUS SETTINGS
//\*----------------------------------*/
//
//  Defines radius of elements
//
//\*----------------------------------*/

$rad: 50%;
$rad-l: 999em;
$rad-m: $space-m; // 20px
$rad-s: $space-xs; // 11px
$rad-xs: calc($space-2xs / 2); // 4.5px