@use "spacing" as *;

///*----------------------------------*\
//  #RADIUS SETTINGS
//\*----------------------------------*/
//
//  Defines radius of elements
//
//\*----------------------------------*/

$rad: 50%;
$rad-l: 100%;
$rad-m: $space-m;
$rad-s: $space-xs;
$rad-xs: $space-2xs;
