@use "sass:math";
@use "global";
@use "../tools/fluid-scale" as *;

///*----------------------------------*\
//  #SPACING SETTINGS
//\*----------------------------------*/
//
// The spacing system is created by defining a scale of non-linear (spacing) values using our
// base values from the fluid scale in our tokens. This matches the scale used for the font sizes to create
// a consistent vertical rhythm.
// Should you need to change how the spacing works you can update the values in the tokens/fluid-scale.js file.
// NOTE: This will also affect the font sizes.
//
//\*----------------------------------*/

:root {
    // We're using px to define the values in this scale so we don't adjust the spacing along with the font size
    // This helps to keep the spacing from increasing along with the font size if a user changes their preferences.
    // Ref: https://www.joshwcomeau.com/css/surprising-truth-about-pixels-and-accessibility/#strategic-unit-deployment
    @include fluid-scale("space", "px");
}

// Spacing values are determined based on your project’s fluid scale.
// It is not recommended that you modify these following variables
// (it can break your vertical rhythm), but if you need to, you can.
$space-2xs: var(--space-scale-2xs);
$space-xs: var(--space-scale-xs);
$space-s: var(--space-scale-s);
$space-m: var(--space-scale-m);
$space-l: var(--space-scale-l);
$space-xl: var(--space-scale-xl);
$space-2xl: var(--space-scale-2xl);
$space-3xl: var(--space-scale-3xl);
$space-4xl: var(--space-scale-4xl);
$space-5xl: var(--space-scale-5xl);
$space-6xl: var(--space-scale-6xl);
$space-7xl: var(--space-scale-7xl);

// For instances when we want the spacing to scale with the user's font size
// i.e. adding a margin bottom to a paragraph, we would expect that to increase with the font size
$space-rel-2xs: var(--font-scale-2xs);
$space-rel-xs: var(--font-scale-xs);
$space-rel-s: var(--font-scale-s);
$space-rel-m: var(--font-scale-m);
$space-rel-l: var(--font-scale-l);
$space-rel-xl: var(--font-scale-xl);
$space-rel-2xl: var(--font-scale-2xl);
$space-rel-3xl: var(--font-scale-3xl);
$space-rel-4xl: var(--font-scale-4xl);
$space-rel-5xl: var(--font-scale-5xl);
$space-rel-6xl: var(--font-scale-6xl);
$space-rel-7xl: var(--font-scale-7xl);
