$colors: (
    default: (
        primary: hsl(335deg 85% 49%),
        secondary: hsl(250deg 35% 20%),
        tertiary: hsl(0deg 0% 100%),
        quaternary: hsl(171deg 50% 50%),
        quinary: hsl(0deg 0% 95%),
        senary: hsl(0deg 0% 7%),
        septenary: hsl(331deg 73% 83%),
        octonary: hsl(183deg 47% 70%),
        nonary: hsl(236deg 38% 43%),
        denary: hsl(9deg 81% 57%),
        duodenary: hsl(55deg 72% 69%),
        error: hsl(0deg 61% 44%),
        success: hsl(107deg 49% 38%),
        notice: hsl(34deg 100% 42%),
        disabled: hsl(220deg 4% 87%),
        shadow: hsla(0deg 0% 7% / 50%),
        shadow-l: hsla(204deg 204% 204% / 100%)
    ),
    dark: (
        primary: hsl(335deg 85% 49%)
    )
);
$containers: (
    container-size: 1440,
    container-size-xxxsml: 610,
    container-size-xxsml: 960,
    container-size-xsml: 1020,
    container-size-sml: 1140,
    container-size-med: 1280,
    container-size-lrg: 1680
);
$fluid-scale: (
    base-font-size: 10,
    steps: (micro, milli, centi, zeta, epsilon, delta, gamma, beta, alpha, omega, kilo, mega),
    min-viewport: (
        width: 375,
        font-size: 16,
        scale: 1.2
    ),
    max-viewport: (
        width: 1440,
        font-size: 20,
        scale: 1.33
    )
);
$media-queries: (
    mq-mob: 360,
    mq-mob--med: 420,
    mq-mob--lrg: 560,
    mq-tab: 768,
    mq-tab--med: 820,
    mq-tab--lrg: 960,
    mq-desk: 1024,
    mq-desk--med: 1280,
    mq-desk--lrg: 1440
);
$typography: (
    font-primary: ("Roboto", helvetica, arial, sans-serif),
    font-secondary: ("Roboto Condensed", helvetica, arial, sans-serif),
    weight-reg: 400,
    weight-bold: 700
);
