$colors: (
    default: (
        primary: hsl(335deg 85% 49%),
        secondary: hsl(205deg 79% 11%),
        tertiary: hsl(0deg 0% 100%),
        quaternary: hsl(175deg 100% 33%),
        quinary: hsl(0deg 0% 87%),
        senary: hsl(31deg 94% 65%),
        septenary: hsl(334deg 79% 89%),
        octonary: hsl(179deg 92% 77%),
        nonary: hsl(237deg 41% 44%),
        denary: hsl(11deg 81% 55%),
        duodenary: hsl(56deg 100% 73%),
        neutral-100: hsl(0deg 0% 98%),
        neutral-200: hsl(0deg 0% 96%),
        neutral-300: hsl(0deg 0% 93%),
        neutral-400: hsl(0deg 0% 79%),
        neutral-500: hsl(0deg 0% 73%),
        neutral-600: hsl(0deg 0% 60%),
        error: hsl(0deg 93% 48%),
        error-20: hsl(0deg 93% 55% / 20%),
        success: hsl(144deg 66% 55%),
        success-20: hsl(144deg 66% 55% / 20%),
        notice: hsl(202deg 93% 55%),
        notice-20: hsl(202deg 93% 55% / 20%),
        warning: hsl(47deg 96% 50%),
        warning-20: hsl(47deg 96% 50% / 20%),
        gradient-primary:
            linear-gradient(
                0deg,
                hsl(31deg 94% 65%) 0%,
                hsl(24deg 94% 63%) 21%,
                hsl(18deg 93% 61%) 30%,
                hsl(12deg 91% 59%) 39%,
                hsl(6deg 91% 58%) 46%,
                hsl(360deg 89% 56%) 54%,
                hsl(354deg 88% 54%) 61%,
                hsl(348deg 88% 52%) 69%,
                hsl(341deg 87% 50%) 79%,
                hsl(335deg 85% 49%) 100%
            ),
        gradient-secondary:
            linear-gradient(
                0deg,
                hsl(179deg 92% 77%) 0%,
                hsl(187deg 100% 70%) 21%,
                hsl(190deg 100% 63%) 30%,
                hsl(196deg 100% 63%) 39%,
                hsl(207deg 100% 70%) 46%,
                hsl(231deg 100% 78%) 54%,
                hsl(267deg 79% 73%) 61%,
                hsl(304deg 56% 61%) 69%,
                hsl(325deg 75% 57%) 79%,
                hsl(335deg 85% 49%) 100%
            ),
        gradient-tertiary:
            linear-gradient(
                0deg,
                hsl(56deg 100% 73%) 0%,
                hsl(67deg 82% 71%) 21%,
                hsl(79deg 75% 71%) 30%,
                hsl(93deg 68% 71%) 39%,
                hsl(111deg 60% 71%) 46%,
                hsl(132deg 56% 67%) 54%,
                hsl(148deg 56% 61%) 61%,
                hsl(159deg 55% 55%) 69%,
                hsl(168deg 61% 47%) 79%,
                hsl(175deg 100% 36%) 100%
            ),
        gradient-quaternary:
            linear-gradient(
                0deg,
                hsl(237deg 41% 44%) 0%,
                hsl(256deg 40% 44%) 21%,
                hsl(272deg 42% 44%) 30%,
                hsl(287deg 45% 42%) 39%,
                hsl(301deg 49% 41%) 46%,
                hsl(313deg 58% 43%) 54%,
                hsl(320deg 67% 45%) 61%,
                hsl(326deg 76% 46%) 69%,
                hsl(330deg 83% 47%) 79%,
                hsl(335deg 85% 49%) 100%
            ),
        gradient-quinary:
            linear-gradient(
                0deg,
                hsl(335deg 85% 49%) 0%,
                hsl(338deg 81% 57%) 21%,
                hsl(339deg 82% 63%) 30%,
                hsl(339deg 83% 67%) 39%,
                hsl(339deg 83% 71%) 46%,
                hsl(338deg 84% 75%) 54%,
                hsl(337deg 84% 79%) 61%,
                hsl(336deg 83% 82%) 69%,
                hsl(335deg 82% 85%) 79%,
                hsl(334deg 79% 89%) 100%
            ),
        gradient-senary:
            linear-gradient(
                0deg,
                hsl(179deg 92% 77%) 0%,
                hsl(178deg 82% 73%) 21%,
                hsl(177deg 75% 70%) 30%,
                hsl(177deg 70% 66%) 39%,
                hsl(176deg 65% 62%) 46%,
                hsl(176deg 62% 58%) 54%,
                hsl(175deg 59% 54%) 61%,
                hsl(175deg 58% 50%) 69%,
                hsl(174deg 69% 45%) 79%,
                hsl(175deg 100% 36%) 100%
            ),
        gradient-septenary:
            linear-gradient(
                0deg,
                hsl(237deg 41% 44%) 0%,
                hsl(214deg 76% 38%) 21%,
                hsl(206deg 100% 36%) 30%,
                hsl(203deg 100% 37%) 39%,
                hsl(200deg 100% 38%) 46%,
                hsl(196deg 100% 38%) 54%,
                hsl(191deg 100% 37%) 61%,
                hsl(186deg 100% 36%) 69%,
                hsl(180deg 100% 35%) 79%,
                hsl(175deg 100% 36%) 100%
            ),
        gradient-octonary:
            linear-gradient(
                0deg,
                hsl(11deg 81% 55%) 0%,
                hsl(18deg 86% 55%) 21%,
                hsl(23deg 89% 56%) 30%,
                hsl(28deg 93% 58%) 39%,
                hsl(32deg 95% 59%) 46%,
                hsl(36deg 97% 61%) 54%,
                hsl(40deg 98% 64%) 61%,
                hsl(45deg 99% 67%) 69%,
                hsl(50deg 100% 70%) 79%,
                hsl(56deg 100% 73%) 100%
            ),
        gradient-nonary:
            linear-gradient(
                0deg,
                hsl(56deg 100% 73%) 0%,
                hsl(68deg 92% 75%) 21%,
                hsl(83deg 96% 78%) 30%,
                hsl(100deg 100% 82%) 39%,
                hsl(123deg 100% 84%) 46%,
                hsl(142deg 100% 81%) 54%,
                hsl(156deg 100% 79%) 61%,
                hsl(165deg 99% 78%) 69%,
                hsl(172deg 96% 77%) 79%,
                hsl(179deg 92% 77%) 100%
            ),
        gradient-primary-90:
            linear-gradient(
                90deg,
                hsl(31deg 94% 65%) 0%,
                hsl(24deg 94% 63%) 21%,
                hsl(18deg 93% 61%) 30%,
                hsl(12deg 91% 59%) 39%,
                hsl(6deg 91% 58%) 46%,
                hsl(360deg 89% 56%) 54%,
                hsl(354deg 88% 54%) 61%,
                hsl(348deg 88% 52%) 69%,
                hsl(341deg 87% 50%) 79%,
                hsl(335deg 85% 49%) 100%
            ),
        gradient-secondary-90:
            linear-gradient(
                90deg,
                hsl(179deg 92% 77%) 0%,
                hsl(187deg 100% 70%) 21%,
                hsl(190deg 100% 63%) 30%,
                hsl(196deg 100% 63%) 39%,
                hsl(207deg 100% 70%) 46%,
                hsl(231deg 100% 78%) 54%,
                hsl(267deg 79% 73%) 61%,
                hsl(304deg 56% 61%) 69%,
                hsl(325deg 75% 57%) 79%,
                hsl(335deg 85% 49%) 100%
            ),
        gradient-tertiary-90:
            linear-gradient(
                90deg,
                hsl(56deg 100% 73%) 0%,
                hsl(67deg 82% 71%) 21%,
                hsl(79deg 75% 71%) 30%,
                hsl(93deg 68% 71%) 39%,
                hsl(111deg 60% 71%) 46%,
                hsl(132deg 56% 67%) 54%,
                hsl(148deg 56% 61%) 61%,
                hsl(159deg 55% 55%) 69%,
                hsl(168deg 61% 47%) 79%,
                hsl(175deg 100% 36%) 100%
            ),
        gradient-quaternary-90:
            linear-gradient(
                90deg,
                hsl(237deg 41% 44%) 0%,
                hsl(256deg 40% 44%) 21%,
                hsl(272deg 42% 44%) 30%,
                hsl(287deg 45% 42%) 39%,
                hsl(301deg 49% 41%) 46%,
                hsl(313deg 58% 43%) 54%,
                hsl(320deg 67% 45%) 61%,
                hsl(326deg 76% 46%) 69%,
                hsl(330deg 83% 47%) 79%,
                hsl(335deg 85% 49%) 100%
            ),
        gradient-quinary-90:
            linear-gradient(
                90deg,
                hsl(335deg 85% 49%) 0%,
                hsl(338deg 81% 57%) 21%,
                hsl(339deg 82% 63%) 30%,
                hsl(339deg 83% 67%) 39%,
                hsl(339deg 83% 71%) 46%,
                hsl(338deg 84% 75%) 54%,
                hsl(337deg 84% 79%) 61%,
                hsl(336deg 83% 82%) 69%,
                hsl(335deg 82% 85%) 79%,
                hsl(334deg 79% 89%) 100%
            ),
        gradient-senary-90:
            linear-gradient(
                90deg,
                hsl(179deg 92% 77%) 0%,
                hsl(178deg 82% 73%) 21%,
                hsl(177deg 75% 70%) 30%,
                hsl(177deg 70% 66%) 39%,
                hsl(176deg 65% 62%) 46%,
                hsl(176deg 62% 58%) 54%,
                hsl(175deg 59% 54%) 61%,
                hsl(175deg 58% 50%) 69%,
                hsl(174deg 69% 45%) 79%,
                hsl(175deg 100% 36%) 100%
            ),
        gradient-septenary-90:
            linear-gradient(
                90deg,
                hsl(237deg 41% 44%) 0%,
                hsl(214deg 76% 38%) 21%,
                hsl(206deg 100% 36%) 30%,
                hsl(203deg 100% 37%) 39%,
                hsl(200deg 100% 38%) 46%,
                hsl(196deg 100% 38%) 54%,
                hsl(191deg 100% 37%) 61%,
                hsl(186deg 100% 36%) 69%,
                hsl(180deg 100% 35%) 79%,
                hsl(175deg 100% 36%) 100%
            ),
        gradient-octonary-90:
            linear-gradient(
                90deg,
                hsl(11deg 81% 55%) 0%,
                hsl(18deg 86% 55%) 21%,
                hsl(23deg 89% 56%) 30%,
                hsl(28deg 93% 58%) 39%,
                hsl(32deg 95% 59%) 46%,
                hsl(36deg 97% 61%) 54%,
                hsl(40deg 98% 64%) 61%,
                hsl(45deg 99% 67%) 69%,
                hsl(50deg 100% 70%) 79%,
                hsl(56deg 100% 73%) 100%
            ),
        gradient-nonary-90:
            linear-gradient(
                90deg,
                hsl(56deg 100% 73%) 0%,
                hsl(68deg 92% 75%) 21%,
                hsl(83deg 96% 78%) 30%,
                hsl(100deg 100% 82%) 39%,
                hsl(123deg 100% 84%) 46%,
                hsl(142deg 100% 81%) 54%,
                hsl(156deg 100% 79%) 61%,
                hsl(165deg 99% 78%) 69%,
                hsl(172deg 96% 77%) 79%,
                hsl(179deg 92% 77%) 100%
            ),
        gradient-primary-180:
            linear-gradient(
                180deg,
                hsl(31deg 94% 65%) 0%,
                hsl(24deg 94% 63%) 21%,
                hsl(18deg 93% 61%) 30%,
                hsl(12deg 91% 59%) 39%,
                hsl(6deg 91% 58%) 46%,
                hsl(360deg 89% 56%) 54%,
                hsl(354deg 88% 54%) 61%,
                hsl(348deg 88% 52%) 69%,
                hsl(341deg 87% 50%) 79%,
                hsl(335deg 85% 49%) 100%
            ),
        gradient-secondary-180:
            linear-gradient(
                180deg,
                hsl(179deg 92% 77%) 0%,
                hsl(187deg 100% 70%) 21%,
                hsl(190deg 100% 63%) 30%,
                hsl(196deg 100% 63%) 39%,
                hsl(207deg 100% 70%) 46%,
                hsl(231deg 100% 78%) 54%,
                hsl(267deg 79% 73%) 61%,
                hsl(304deg 56% 61%) 69%,
                hsl(325deg 75% 57%) 79%,
                hsl(335deg 85% 49%) 100%
            ),
        gradient-tertiary-180:
            linear-gradient(
                180deg,
                hsl(56deg 100% 73%) 0%,
                hsl(67deg 82% 71%) 21%,
                hsl(79deg 75% 71%) 30%,
                hsl(93deg 68% 71%) 39%,
                hsl(111deg 60% 71%) 46%,
                hsl(132deg 56% 67%) 54%,
                hsl(148deg 56% 61%) 61%,
                hsl(159deg 55% 55%) 69%,
                hsl(168deg 61% 47%) 79%,
                hsl(175deg 100% 36%) 100%
            ),
        gradient-quaternary-180:
            linear-gradient(
                180deg,
                hsl(237deg 41% 44%) 0%,
                hsl(256deg 40% 44%) 21%,
                hsl(272deg 42% 44%) 30%,
                hsl(287deg 45% 42%) 39%,
                hsl(301deg 49% 41%) 46%,
                hsl(313deg 58% 43%) 54%,
                hsl(320deg 67% 45%) 61%,
                hsl(326deg 76% 46%) 69%,
                hsl(330deg 83% 47%) 79%,
                hsl(335deg 85% 49%) 100%
            ),
        gradient-quinary-180:
            linear-gradient(
                180deg,
                hsl(335deg 85% 49%) 0%,
                hsl(338deg 81% 57%) 21%,
                hsl(339deg 82% 63%) 30%,
                hsl(339deg 83% 67%) 39%,
                hsl(339deg 83% 71%) 46%,
                hsl(338deg 84% 75%) 54%,
                hsl(337deg 84% 79%) 61%,
                hsl(336deg 83% 82%) 69%,
                hsl(335deg 82% 85%) 79%,
                hsl(334deg 79% 89%) 100%
            ),
        gradient-senary-180:
            linear-gradient(
                180deg,
                hsl(179deg 92% 77%) 0%,
                hsl(178deg 82% 73%) 21%,
                hsl(177deg 75% 70%) 30%,
                hsl(177deg 70% 66%) 39%,
                hsl(176deg 65% 62%) 46%,
                hsl(176deg 62% 58%) 54%,
                hsl(175deg 59% 54%) 61%,
                hsl(175deg 58% 50%) 69%,
                hsl(174deg 69% 45%) 79%,
                hsl(175deg 100% 36%) 100%
            ),
        gradient-septenary-180:
            linear-gradient(
                180deg,
                hsl(237deg 41% 44%) 0%,
                hsl(214deg 76% 38%) 21%,
                hsl(206deg 100% 36%) 30%,
                hsl(203deg 100% 37%) 39%,
                hsl(200deg 100% 38%) 46%,
                hsl(196deg 100% 38%) 54%,
                hsl(191deg 100% 37%) 61%,
                hsl(186deg 100% 36%) 69%,
                hsl(180deg 100% 35%) 79%,
                hsl(175deg 100% 36%) 100%
            ),
        gradient-octonary-180:
            linear-gradient(
                180deg,
                hsl(11deg 81% 55%) 0%,
                hsl(18deg 86% 55%) 21%,
                hsl(23deg 89% 56%) 30%,
                hsl(28deg 93% 58%) 39%,
                hsl(32deg 95% 59%) 46%,
                hsl(36deg 97% 61%) 54%,
                hsl(40deg 98% 64%) 61%,
                hsl(45deg 99% 67%) 69%,
                hsl(50deg 100% 70%) 79%,
                hsl(56deg 100% 73%) 100%
            ),
        gradient-nonary-180:
            linear-gradient(
                180deg,
                hsl(56deg 100% 73%) 0%,
                hsl(68deg 92% 75%) 21%,
                hsl(83deg 96% 78%) 30%,
                hsl(100deg 100% 82%) 39%,
                hsl(123deg 100% 84%) 46%,
                hsl(142deg 100% 81%) 54%,
                hsl(156deg 100% 79%) 61%,
                hsl(165deg 99% 78%) 69%,
                hsl(172deg 96% 77%) 79%,
                hsl(179deg 92% 77%) 100%
            ),
        gradient-primary-270:
            linear-gradient(
                270deg,
                hsl(31deg 94% 65%) 0%,
                hsl(24deg 94% 63%) 21%,
                hsl(18deg 93% 61%) 30%,
                hsl(12deg 91% 59%) 39%,
                hsl(6deg 91% 58%) 46%,
                hsl(360deg 89% 56%) 54%,
                hsl(354deg 88% 54%) 61%,
                hsl(348deg 88% 52%) 69%,
                hsl(341deg 87% 50%) 79%,
                hsl(335deg 85% 49%) 100%
            ),
        gradient-secondary-270:
            linear-gradient(
                270deg,
                hsl(179deg 92% 77%) 0%,
                hsl(187deg 100% 70%) 21%,
                hsl(190deg 100% 63%) 30%,
                hsl(196deg 100% 63%) 39%,
                hsl(207deg 100% 70%) 46%,
                hsl(231deg 100% 78%) 54%,
                hsl(267deg 79% 73%) 61%,
                hsl(304deg 56% 61%) 69%,
                hsl(325deg 75% 57%) 79%,
                hsl(335deg 85% 49%) 100%
            ),
        gradient-tertiary-270:
            linear-gradient(
                270deg,
                hsl(56deg 100% 73%) 0%,
                hsl(67deg 82% 71%) 21%,
                hsl(79deg 75% 71%) 30%,
                hsl(93deg 68% 71%) 39%,
                hsl(111deg 60% 71%) 46%,
                hsl(132deg 56% 67%) 54%,
                hsl(148deg 56% 61%) 61%,
                hsl(159deg 55% 55%) 69%,
                hsl(168deg 61% 47%) 79%,
                hsl(175deg 100% 36%) 100%
            ),
        gradient-quaternary-270:
            linear-gradient(
                270deg,
                hsl(237deg 41% 44%) 0%,
                hsl(256deg 40% 44%) 21%,
                hsl(272deg 42% 44%) 30%,
                hsl(287deg 45% 42%) 39%,
                hsl(301deg 49% 41%) 46%,
                hsl(313deg 58% 43%) 54%,
                hsl(320deg 67% 45%) 61%,
                hsl(326deg 76% 46%) 69%,
                hsl(330deg 83% 47%) 79%,
                hsl(335deg 85% 49%) 100%
            ),
        gradient-quinary-270:
            linear-gradient(
                270deg,
                hsl(335deg 85% 49%) 0%,
                hsl(338deg 81% 57%) 21%,
                hsl(339deg 82% 63%) 30%,
                hsl(339deg 83% 67%) 39%,
                hsl(339deg 83% 71%) 46%,
                hsl(338deg 84% 75%) 54%,
                hsl(337deg 84% 79%) 61%,
                hsl(336deg 83% 82%) 69%,
                hsl(335deg 82% 85%) 79%,
                hsl(334deg 79% 89%) 100%
            ),
        gradient-senary-270:
            linear-gradient(
                270deg,
                hsl(179deg 92% 77%) 0%,
                hsl(178deg 82% 73%) 21%,
                hsl(177deg 75% 70%) 30%,
                hsl(177deg 70% 66%) 39%,
                hsl(176deg 65% 62%) 46%,
                hsl(176deg 62% 58%) 54%,
                hsl(175deg 59% 54%) 61%,
                hsl(175deg 58% 50%) 69%,
                hsl(174deg 69% 45%) 79%,
                hsl(175deg 100% 36%) 100%
            ),
        gradient-septenary-270:
            linear-gradient(
                270deg,
                hsl(237deg 41% 44%) 0%,
                hsl(214deg 76% 38%) 21%,
                hsl(206deg 100% 36%) 30%,
                hsl(203deg 100% 37%) 39%,
                hsl(200deg 100% 38%) 46%,
                hsl(196deg 100% 38%) 54%,
                hsl(191deg 100% 37%) 61%,
                hsl(186deg 100% 36%) 69%,
                hsl(180deg 100% 35%) 79%,
                hsl(175deg 100% 36%) 100%
            ),
        gradient-octonary-270:
            linear-gradient(
                270deg,
                hsl(11deg 81% 55%) 0%,
                hsl(18deg 86% 55%) 21%,
                hsl(23deg 89% 56%) 30%,
                hsl(28deg 93% 58%) 39%,
                hsl(32deg 95% 59%) 46%,
                hsl(36deg 97% 61%) 54%,
                hsl(40deg 98% 64%) 61%,
                hsl(45deg 99% 67%) 69%,
                hsl(50deg 100% 70%) 79%,
                hsl(56deg 100% 73%) 100%
            ),
        gradient-nonary-270:
            linear-gradient(
                270deg,
                hsl(56deg 100% 73%) 0%,
                hsl(68deg 92% 75%) 21%,
                hsl(83deg 96% 78%) 30%,
                hsl(100deg 100% 82%) 39%,
                hsl(123deg 100% 84%) 46%,
                hsl(142deg 100% 81%) 54%,
                hsl(156deg 100% 79%) 61%,
                hsl(165deg 99% 78%) 69%,
                hsl(172deg 96% 77%) 79%,
                hsl(179deg 92% 77%) 100%
            ),
    ),
    dark: (
        primary: hsl(335deg 85% 49%),
        secondary: hsl(0deg 0% 100%),
        tertiary: hsl(205deg 79% 11%),
    ),
);
$containers: (
    container-size: 1440,
    container-size-xxxsml: 610,
    container-size-xxsml: 960,
    container-size-xsml: 1020,
    container-size-sml: 1140,
    container-size-med: 1280,
    container-size-lrg: 1680,
);
$fluid-scale: (
    base-font-size: 16,
    steps: (
        micro,
        milli,
        centi,
        zeta,
        epsilon,
        delta,
        gamma,
        beta,
        alpha,
        omega,
        kilo,
        mega,
    ),
    min-viewport: (
        width: 375,
        font-size: 16,
        scale: 1.2,
    ),
    max-viewport: (
        width: 1440,
        font-size: 20,
        scale: 1.33,
    ),
);
$media-queries: (
    mob: 360,
    mob-med: 420,
    mob-lrg: 560,
    tab: 768,
    tab-med: 820,
    tab-lrg: 960,
    desk: 1024,
    desk-med: 1280,
    desk-lrg: 1440,
);
$typography: (
    font-primary: (
        "Outfit",
        helvetica,
        arial,
        sans-serif,
    ),
    font-secondary: (
        "F37 Judge",
        helvetica,
        arial,
        sans-serif,
    ),
    weight-light: 300,
    weight-reg: 400,
    weight-bold: 700,
    letter-spacing-sml: 0.188em,
);
