@use "sass:math";
@use "sass:meta";
@use "../tools/fluid-scale" as *;
@use "../tools/functions/get-tokens" as *;
@use "../settings/tokens" as *;
@use "../tools/functions/rem" as *;

///*----------------------------------*\
//  #TYPOGRAPHY SETTINGS
//\*----------------------------------*/
//
// @TODO: create a brief write-up on the new typography scale
//
//\*----------------------------------*/

// Base Sizes
$base-fs: scale-token("base-font-size");
$base-lh: scale-token("max-viewport.scale");

// Font Families
$font-primary: typography-token("font-primary");
$font-secondary: typography-token("font-secondary");

// Font Sizes
$fs-2xs: var(--font-scale-2xs);
$fs-xs: var(--font-scale-xs);
$fs-s: var(--font-scale-s);
$fs-m: var(--font-scale-m);
$fs-l: var(--font-scale-l);
$fs-xl: var(--font-scale-xl);
$fs-2xl: var(--font-scale-2xl);
$fs-3xl: var(--font-scale-3xl);
$fs-4xl: var(--font-scale-4xl);
$fs-5xl: var(--font-scale-5xl);
$fs-6xl: var(--font-scale-6xl);
$fs-7xl: var(--font-scale-7xl);

// Font Weights
$fw-light: typography-token("weight-light");
$fw-reg: typography-token("weight-reg");
$fw-med: typography-token("weight-med");
$fw-bold: typography-token("weight-bold");

// Letter Spacing
$ls-2xs: typography-token("ls-2xs");
$ls-xs: typography-token("ls-xs");
$ls-s: typography-token("ls-s");

:root {
    // Manually set a base font size we can use across the site,
    // this will be set on the body so all text inherits it.
    --font-scale-base: #{rem($base-fs)};

    // Add fluid scale custom properties to the root element
    @include fluid-scale("font");
}
