@import "../../styles/tools";
@import "../../styles/settings";

@layer components {
    $modal-max-height: 570px;
    $modal-overlay-opacity: 0.3;

    .c-modal {
        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-height: $modal-max-height;
            padding: $space-m;
            background-color: var(--color-tertiary);
            border-radius: $rad-xs;
            box-shadow: $shadow-m;
            overflow-y: auto;

            &[data-state="open"] {
                @include animate(modal-scale-in, $timing-s, $ease-out-sine);
            }

            &[data-state="closed"] {
                @include animate(modal-scale-out, $timing-s, $ease-out-sine);
            }

            &--sm {
                max-width: #{calc($container-3xs / 2)}px;
            }

            &--md {
                max-width: 768px;
            }

            &--lg {
                max-width: #{$container-2xs}px;
            }

            &--full {
                max-width: 100%;
            }
        }

        &__ttl {
            margin-block-start: $space-2xs;
        }

        &__close {
            align-self: end;
            color: var(--color-neutral-500);
            transition: color $timing-s $ease-in-out;
            cursor: pointer;

            &:hover,
            &:active {
                color: var(--color-neutral-600);
            }
        }

        &__overlay {
            position: fixed;
            display: grid;
            inset: 0;
            overflow-y: auto;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                background-color: var(--color-secondary);
            }

            &[data-state="open"] {
                @include animate(fade-in, $timing-s, $ease-out-sine);

                &::after {
                    @include animate(overlay-fade-in, $timing-s, $ease-out-sine);
                }
            }

            &[data-state="closed"] {
                @include animate(fade-out, $timing-s, $ease-out-sine);

                &::after {
                    @include animate(overlay-fade-out, $timing-s, $ease-out-sine);
                }
            }

            &--hidden {
                &::after {
                    display: none;
                }
            }
        }

        &__overlay-inner {
            display: grid;
            place-items: center;
            height: 100%;

            @include z-index(modal);

            // *----------------------------------*/
            //  Position modifiers
            // *----------------------------------*/
            &--c {
                place-items: center;
            }

            &--tr {
                align-items: start;
                justify-items: end;
            }

            &--tl {
                align-items: start;
                justify-items: start;
            }

            &--br {
                align-items: end;
                justify-items: end;
            }

            &--bl {
                align-items: end;
                justify-items: start;
            }
        }
    }
}
