.c-dropdown-menu {
    &__content,
    &__sub-content {
        min-width: 220px;
        padding: 5px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow:
            hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
            hsl(206deg 22% 7% / 20%) 0 10px 20px -15px;
        animation-duration: 400ms;
        animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
        will-change: transform, opacity;
    }

    &__item,
    &__checkbox-item,
    &__radio-item,
    &__sub-trigger {
        position: relative;
        display: flex;
        align-items: center;
        height: 25px;
        padding: 0 5px;
        padding-left: 25px;
        border-radius: 3px;
        outline: none;
        font-size: 13px;
        line-height: 1;
        user-select: none;

        /* stylelint-disable-next-line plugin/selector-bem-pattern */
        &[data-disabled] {
            color: hsl(255deg 3.7% 78.8%);
            pointer-events: none;
        }

        /* stylelint-disable-next-line plugin/selector-bem-pattern */
        &[data-highlighted] {
            background-color: hsl(255deg 3.7% 78.8%);
            color: hsl(255deg 65% 99.4%);
        }
    }

    /* stylelint-disable-next-line plugin/selector-bem-pattern */
    &__sub-trigger[data-state="open"] {
        background-color: hsl(255deg 3.7% 78.8%);
        color: hsl(255deg 65% 99.4%);
    }

    &__label {
        padding-left: 25px;
        color: hsl(252deg 4% 44.8%);
        font-size: 12px;
        line-height: 25px;
    }

    &__separator {
        height: 1px;
        margin: 5px;
        background-color: hsl(252deg 4% 44.8%);
    }

    &__indicator {
        position: absolute;
        left: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 25px;
    }

    &__arrow {
        fill: #fff;
    }

    &__icon-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 2px 10px hsl(0deg 0% 0% / 14.1%);
        font-family: inherit;

        &:hover {
            background-color: hsl(252deg 96.9% 97.4%);
        }

        &:focus {
            box-shadow: 0 0 0 2px #000;
        }
    }

    &__icon--right-slot {
        margin-left: auto;
        padding-left: 20px;
        color: hsl(252deg 4% 44.8%);
    }

    /* stylelint-disable-next-line plugin/selector-bem-pattern */
    [data-highlighted] > &__icon--right-slot {
        color: #fff;
    }

    /* stylelint-disable-next-line plugin/selector-bem-pattern */
    [data-disabled] &__icon--right-slot {
        color: hsl(255deg 3.7% 78.8%);
    }
}
