@use "sass:map";
@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

@layer components {
    $flourish-timing: 0.1s;

    .c-flourish {
        position: absolute;
        display: block;
        transform-origin: top left;
        transition: transform $flourish-timing $linear;
        pointer-events: none;

        &__container {
            position: absolute;
            display: block;
            overflow: hidden;
            inset: 0;
        }
    }

    .c-flourish-content {
        position: relative;

        @include z-index("bg");
    }
}
