/* stylelint-disable selector-class-pattern */
@use "../../styles/settings" as *;
/* stylelint-disable plugin/selector-bem-pattern */

.c-datepicker {
    display: inline-flex;
    flex-direction: column;

    &__date-field-container {
        position: relative;

        .c-react-aria-button {
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translate(-50%, -50%);
            cursor: pointer;

            svg {
                height: unset;
            }
        }
    }

    &__range {
        .c-datepicker__date-field-container {
            display: flex;
            align-items: center;
        }

        .c-datepicker__date-field-inner-container {
            position: relative;
        }
    }
}
