/* stylelint-disable selector-class-pattern */
@use "../../styles/settings" as *;
/* stylelint-disable plugin/selector-bem-pattern */

.c-datepicker {
    display: inline-flex;
    flex-direction: column;

    &__date-field-container {
        position: relative;

        .c-react-aria__button {
            position: absolute;
            right: 0;
            bottom: 0;
            color: var(--color-neutral-600);
            transform: translate(-50%, -50%);
            cursor: pointer;

            svg {
                height: unset;
            }
        }
    }

    &__range {
        .c-datepicker__date-field-container {
            display: flex;
            align-items: center;
        }

        .c-datepicker__date-field-inner-container {
            position: relative;
        }
    }

    &__label {
        --label-font-size: var(--font-scale-centi);

        color: var(--color-neutral-600);
        font-size: var(--label-font-size);
        font-weight: $weight-reg;
        cursor: pointer;
    }
}
