/* stylelint-disable selector-class-pattern */
@use "../../styles/settings" as *;
@use "../../styles/tools" as *;
/* stylelint-disable plugin/selector-bem-pattern */

$input-py: calc($space-rel-2xs - 3px);
$input-pr: $space-rel-xl;
$input-pl: $space-rel-2xs;

.c-date-field {
    display: inline-flex;
    width: 100%;
    padding: $input-py $input-pr $input-py $input-pl;
    border: solid 1px var(--color-quinary);
    border-radius: $rad-xs;

    &__wrapper {
        position: relative;

        &--error {
            .c-date-field {
                border: solid 1px var(--color-error);
            }
        }
    }

    &__segment {
        font-variant-numeric: tabular-nums;
        text-align: end;

        &:last-of-type {
            margin: 0 $space-m 0 0;
        }

        &:focus {
            background: var(--color-primary);
            border-radius: $rad-xs;
            outline: none;
            color: var(--color-tertiary);
        }

        @include mq(mq-token("mob")) {
            padding: 0 0.063rem;
        }
    }

    &__error {
        &--text {
            color: var(--color-error);
            font-size: $fs-s;
        }
    }
}
