/* stylelint-disable selector-class-pattern */
@use "../../styles/settings" as *;
/* stylelint-disable plugin/selector-bem-pattern */

$input-py: calc(var(--space-scale-micro) - 3px);
$input-pr: var(--space-scale-delta);
$input-pl: var(--space-scale-micro);

.c-date-field {
    position: relative;
    display: inline-flex;
    min-width: 20ch;
    max-width: 30ch;
    padding: $input-py $input-pr $input-py $input-pl;
    border: solid 1px var(--color-quinary);
    border-radius: 4px;

    &__wrapper {
        &--error {
            .c-date-field {
                border: solid 1px var(--color-error);
            }
        }
    }

    &__segment {
        padding: 0 0.063em;
        font-variant-numeric: tabular-nums;
        text-align: end;

        .c-date-field__segment {
            color: var(--color-secondary);
        }

        &:focus {
            background: var(--color-primary);
            border-radius: 2px;
            outline: none;
            color: var(--color-tertiary);
        }
    }

    &:focus-within {
        border: 2px solid var(--color-primary);
    }

    &__label {
        --label-font-size: var(--font-scale-centi);

        color: var(--color-neutral-600);
        font-size: var(--label-font-size);
        font-weight: $weight-reg;
        cursor: pointer;
    }

    &__error {
        &--text {
            position: absolute;
            top: 100%;
            left: 0;
            color: var(--color-error);
            font-size: var(--font-scale-centi);
        }
    }
}
