/* stylelint-disable selector-class-pattern */
@use "../../styles/settings" as *;
/* stylelint-disable plugin/selector-bem-pattern */

// *********** REACT ARIA DIALOG ************

.c-react-aria__dialog {
    padding: 2.5em;
}

// *********** REACT ARIA POPUP ************

.c-react-aria__popover {
    background: var(--color-tertiary);
    box-shadow:
        hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
        hsl(206deg 22% 7% / 20%) 0 10px 20px -15px;
}
