/* stylelint-disable selector-class-pattern */
@use "../../styles/settings" as *;
@use "../../styles/tools" as *;
/* stylelint-disable plugin/selector-bem-pattern */

// *********** REACT ARIA DIALOG ************

.c-react-aria__dialog {
    width: 100%;
    padding: var(--space-scale-centi) var(--space-scale-micro);

    @include mq(mq-token("mob")) {
        padding: var(--space-scale-epsilon);
    }

    @include mq(mq-token("desk")) {
        padding: calc(var(--space-scale-delta));
    }
}

// *********** REACT ARIA POPUP ************

.c-react-aria__popover {
    background: var(--color-tertiary);
    box-shadow:
        hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
        hsl(206deg 22% 7% / 20%) 0 10px 20px -15px;
}
